<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="favicon.ico">
  <title>PaidUp</title>

  <link href="/css/materialize.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/ramda/latest/ramda.min.js"></script>

  <base href="/" />

</head>
<body ng-app='paidUpApp' ng-Controller='AppCtrl' ng-class='PageOptions.pageClass'>
  <div ui-view></div>
  <div ng-include="'/templates/footer.html'"></div>

  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>

  <!-- begin olark code -->
  <noscript><a href="https://www.olark.com/site/9293-999-10-7448/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>
  <!-- end olark code -->
   <div class="alerts-container">   
    <uib-alert ng-repeat="alert in GlobalAlertSystemAlerts" type="{{alert.type}}" close="GlobalAlertSystemClose($index)" dismiss-on-timeout="{{alert.dismissOnTimeout}}">{{alert.msg}}</uib-alert>
  </div>
</body>
</html>