<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="icon" href="favicon.ico">
  <title>PaidUp</title>

  <base href="/" />

  <link href="/css/materialize.min.css" rel="stylesheet">
  <link href="/css/font-awesome.min.css" rel="stylesheet">
  <script src="//cdn.jsdelivr.net/ramda/latest/ramda.min.js"></script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

</head>

<body ng-app='paidUpApp' ng-Controller='AppCtrl' ng-class='PageOptions.pageClass'>
  <div style="text-align: center; height: auto; padding: 10px 10px; width: 100%; background: #FFF2D1; color: #83621F; font-size: 18px; font-weight: bold"><i style="color: orange" class="fa fa-warning"></i> <span style="background: #FFF2D1;">PaidUp has moved! Visit <a style="color: blue" href="https://paidup.app">https://paidup.app</a> to make payments for 2018/2019 season programs. To view your older payment history, please login below.</span></div>
  <noscript>
    <div class="noscript ng-scope login-page row">
      <div class="col s12 center logo">
        <a href="https://getpaidup.com">
      <img src="../img/noscript/paidup-logo.png" alt="logo" >
      
      </div>
      <div class="box col s12 center">
        </a> For full functionality of this site it is necessary to enable JavaScript. Here are the <a href="https://www.enable-javascript.com/"
          target="_blank">
            instructions how to enable JavaScript in your web browser</a>.
      </div>
    </div>
  </noscript>
  <div ui-view></div>
  <div ng-include="'/templates/footer.html'"></div>
  <div id="alerts-container" class="alerts-container alerts-container-noscript">
    <uib-alert ng-repeat="alert in GlobalAlertSystemAlerts" type="{{alert.type}}" close="GlobalAlertSystemClose($index)" dismiss-on-timeout="{{alert.dismissOnTimeout}}">{{alert.msg}}</uib-alert>
  </div>
</body>

</html>