/* LESS Variables */

@family-book: ~'The_Northern_Block_Book';
@family-medium: ~'The_Northern_Block';
@c-green-back: #67bc3b;
@c-green-font: #86ba50;
@c-gray-back: #d7d7d7;
@c-gray-font: #939393;
@c-black-font: #393939;
@c-blue-font: #3d6d7f;
@c-blue-back: #006d81;
@c-facebook: #3b5998;
@small-up: ~"only screen";
@small-only: ~"only screen and (max-width: 600px)";
@medium-up: ~"only screen and (min-width:601px)";
@medium-only: ~"only screen and (min-width:601px) and (max-width:991px)";
@large-up: ~"only screen and (min-width:992px)";
@xlarge-up: ~"only screen and (min-width:1200px)";


@font-face{
	font-family: 'The_Northern_Block';
	src: url(../fonts/The_Northern_Block_Ltd__Brokman_Medium.otf);
}

@font-face{
	font-family: 'The_Northern_Block_Book';
	src: url(../fonts/The_Northern_Block_Ltd__Brokman_Book.otf);
}


html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  font-family: @family-book;
}

/*
COMMONS
*/
.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.button-green {
  width: 100%;
  @media @medium-up{
    width: 150px;
  }
  display: block;
  cursor: pointer;
  background: @c-green-back;
  padding: 8px 30px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 20px;
  margin: 30px auto;
  text-align: center;
}

input[type="text"], input[type="password"], select{
  padding: 10px 15px;
  width: 100%;
  display: block;
  margin: 10px auto;
  border-radius: 20px;
  border: 1px solid @c-gray-back;
  @media @medium-up{
    width: 300px;
  }
}

.button-facebook{
  display: block;
  border: 1px solid @c-facebook;
  color: @c-facebook;
  padding: 8px 30px;
  font-size: 1.1em;
  font-weight: bold;
  border-radius: 20px;
  margin: 20px auto;
  width: 100%;
  text-align: center;
  @media @medium-up{
    width: 250px;
  }
  .fa-facebook{
    margin-right: 5px;
  }
}

/*
FOOTER
*/
footer.page-footer{
  background-color: transparent;
  font-size: 13px;
  overflow: visible;
  font-family: 'The_Northern_Block';
  color: @c-gray-font;
  .container{
    text-align: center;
    @media @large-up{
      text-align: left;
      width: 80%;
    }
    .right-footer{
      a{
        color: @c-gray-font;
      }
      float: none;
      clear: both;
      @media @large-up{
        clear: inherit;
        float: right;
      }
      .phone{
        color:@c-green-font;
        text-decoration: underline;
      }
      .feedback{
        display: block;
        margin: 10px 0px;
        @media @medium-up{
          margin-left: 25px;
          display: inline-block;
        }
        @media @large-up{
          margin-top: 0px;
        }
      }
    } 
    .left-footer{
      float: none;
      clear: both;
      @media @large-up{
        clear: inherit;
        float: left;
      }
    }
    div{
      margin: 15px 0px;
    }
    .fa-phone, .fa-comment{
      color: @c-green-back;
    }
  }
}

/*
LOGIN PAGE
*/
.login-page{
  .login-container{
    margin-top: 50px;
    @media @medium-up{
      margin-top: 120px;
    }
  }
  .logo-img{
    margin: 0px auto;
    text-align: center;
    display: block;
    text-align: center;
  }
  .error{
    text-align: center;
    margin: 30px auto 0px auto;
  }
  .inputs{
    margin-top: 10px;  
  }
  .forgot-link{
    color: @c-green-font;
    font-weight: bold;
    margin: 8px 0px;
    text-decoration: underline;
    display: block;
  }  
  .horizontal-bar{
    border-top: 1px solid #ccc;
    margin: 30px auto;
    width: 100%;
    @media @medium-up{
      width: 275px;
    }
  }
  .buttons-container{
    text-align: center;
  }
  .button-green-login{
    @media @medium-up{
      width: 250px;
    }
  }
  .button-sign-up{
    background-color: @c-gray-back;
    color: @c-black-font;
  }
}

/*
SINGUP HEADER 
*/
header.singup-header{
  padding: 30px 20px;
  .main-logo {
    display: inline-block;
    width: 108px;
    height: 76px;
  }
  .login-link-box{
    margin: 0 auto;
    font-family: 'The_Northern_Block';
    color: #FFF;
    font-size: 1.2em;
    font-weight: bold;
    a.button-green-header{
      width: 120px;
      display: inline-block;
      margin: 0px 0px 0px 10px;
      font-family: 'The_Northern_Block_Book';      
      font-size: 1em;
      font-weight: bold;
      color: @c-green-back;
      background-color: #fff;
      border: 2px solid @c-green-back;
      @media @medium-up{
        color: #FFF;
        background-color: @c-green-back;
        border: none;
      }
    }
  }
}

/*
SINGUP PAGES
*/
.signup-page {
  @media @medium-up{
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    position: relative;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      z-index: -1;
    }
    footer.page-footer{
      color: #fff;
      .container{
        .right-footer{
          a{
            color: #fff;
          }
          .fa-phone, .fa-comment{
            color: #fff;
          }
        }
      }
    }
  }
  .white-container {
    background: #FFF;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
    font-size: 16px;
    @media @medium-up{
      width: 450px;
      padding: 40px;
    }
    @media @large-up{
      padding: 60px 80px;
      width: 550px;
    }
    .steps-count{
      background-color: #ccc;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      display: inline-block;
      margin: 0px 2px;      
    }
    .steps-count.selected{
      background-color: @c-green-font;
    }
    .title{
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }
    h3{
      color: @c-green-font;
      font-family: 'The_Northern_Block';
      font-size: 28px;
      text-align: center;
      font-weight: normal;
      margin: 40px 0px;
    }
    h4{
      color: @c-green-font;
      font-family: 'The_Northern_Block';
      font-size: 22px;
      text-align: center;
      font-weight: normal;
      margin: 0px 0px 10px 0px;
      text-transform: capitalize;
    }
    .input-help-text{
      font-family: 'The_Northern_Block_Book';
      color: @c-black-font;
      font-size: 13px;
      margin: 0px 20px;
    }
    .note-text{
      margin: 30px 10px;
      font-size: 14px;
    }
    .inputs{
      input[type="text"], input[type="password"], select{
        width: 100%;      
      }
      .section-title{
        margin: 10px;
      }
      .select-container{
        position: relative;
        padding: 0px;
        select{
          height: 40px;
          line-height: normal;
          -webkit-appearance:none;
          -moz-appearance:none;
          appearance:none;
          color: @c-gray-font;
          &.selected{
            color: @c-black-font;
          }
        }
        &:after{          
          content:'>';
          color:@c-green-font;
          -webkit-transform:rotate(90deg);
          -moz-transform:rotate(90deg);
          -ms-transform:rotate(90deg);
          transform:rotate(90deg);
          right:20px; 
          top:4px;
          font-size: 22px;
          position:absolute;
          pointer-events:none;

        }         
      }
      .radio-separator{
        margin: 18px 0px;
      }
      .radio-option{
        margin-top: 15px;
        // margin-left: 10px;
        label{
          color: @c-blue-font;
          font-family: 'The_Northern_Block';
          font-size: 18px;
          line-height: 19px;
          span {
            font-family: 'The_Northern_Block_Book';
            color: @c-black-font;
            font-size: 14px;
          }
        }
      }
      .two-colums{
        margin-bottom: 0px;
        div.col:first-child{
          padding: 0px;
          @media @medium-up{
            padding-left: 0px;
            padding-right: 5px; 
          } 
        }
        div.col:last-child{
          padding: 0px;
          @media @medium-up{
            padding-right: 0px;
            padding-left: 5px; 
          }
        }
      }
      .agree-checkbox{
        margin-top: 30px;
        a{
          color: @c-green-font;
        }
      }     
    }
    .buttons-container{
      text-align: center;
      .button-facebook{
        width: 100%;
        @media @medium-up{
          width: 280px;
        }
      }
      .button-agree{
        width: 290px;
        text-transform: none;
      }
      .skip-card-info{
        color: @c-green-font;
        font-weight: bold;
        margin: 8px 0px;
        display: block;
        cursor: pointer;
      }
    }
    .end-note {
      font-size: 14px;
      color: @c-gray-font;
      text-align: center;
      span {
        color: @c-green-font;
      }
    }   
  }
}

/*
DASHBOARD PAGES
*/
.dashboard-page {
  background-color: #f1f1f1;
  
  // DASHBOARD HEADER
  .dashboard-header{
    background-color: #fff;
    margin: 0 auto;
    width: 100%;
    @media @large-up{
      width: 90%;
    }
    .header-container{
      width: 100%;
      padding: 0px;
      @media @large-up{
        padding: 0px 40px;
      }
    }       
    .img-logo{
      margin: 20px 30px 20px 0px;
      img{
        width: 80px;
        height: 59px;
      }
    }
    .navigation-items{
      margin: 10px 0px;
      li{
        font-size: 18px;
        color: @c-gray-font;
        font-family: @family-medium;
        display:inline-block;
        padding: 15px;        
        border-right: 1px solid @c-gray-back;
        cursor: pointer;
        &:last-child{
          border-right: none;
          padding-right: 0px;
        }        
      }
    }
    .help{
      display:none;
      @media @xlarge-up{
        display:block;
      }
      color: @c-gray-font;
      font-family: @family-medium;
      font-size: 18px;
      margin-top: 40px;
      margin-right: 25px;
      float:left;
      .phone{
        color: @c-green-font;
        text-decoration: underline;
        cursor:pointer;
      }
    }
    .setting{
      float:left;
      margin-top: 33px;
      margin-right: 25px;
      cursor:pointer;
      i{
        font-size: 40px;
        color:@c-green-font;
      }
    } 
    .logout-button{
      float:left;
      margin-top: 33px;
      .button-green{
        width:125px;
        display:inline-block;
        margin:0px;
        padding: 6px 30px;
      }
    }        
  }

  // SUMMARY HEADER
  .summary-header{
    margin: 0 auto;
    width: 100%;
    @media @large-up{
      width: 90%;
    }
    .summary-header-container{
      width: 100%;
      padding: 0px;
      .row .col{
        padding:0px;
      }
      .user{
        background-color: @c-blue-back;
        height: 120px;
        padding: 0px;
        @media @large-up{
          padding: 25px 0px 0px 40px;
        }
        width:100%;
        position:relative;
        .user-name{
          margin-left: 20px;
          color:#fff;
          font-size: 30px;
        }
        &:after{
          content:'';
          width: 0;
          height: 0;
          position:absolute;
          top:0px;
          right:0px;
          border-bottom: 120px solid @c-green-back;
          border-left: 120px solid transparent;
        }
      }
      
      .action-buttons{
        background-color: @c-green-back;
        height: 120px;
        padding-top: 15px;
        .dashboard-button{
          margin-right: 20px;
        }
      }
    }
  }
}