<!-- CHOOSE PLAN STEP -->
<div class="white-container">
  <div class="title">
    Choose a payment plan
  </div>
  <p>Choose from the options below to setup your payment</p>
  <div class="teams">
    <div class="team">
      <img src="{{categorySelected.image}}" class="circle team-img" alt="">
      <div class="name">{{categorySelected.name}}</div>
      <div class="loc">{{categorySelected.location}}</div>
    </div>
  </div>
  <div class="inputs inputs-plan">
    <form name="form" novalidate>
      <div class="select-container">
        <select ng-model="productSelected" name="productSelected"
                ng-class="containsValue ? 'selected' : ''"
                ng-change="containsValue = true"
                ng-options="option.details.name for option in categorySelected.products track by option.details.name"
                required>
          <option value="" disabled selected class="placeholder">Select One</option>
        </select>
      </div>

      <div class="select-container" ng-show="productSelected" >
        <select ng-model="paymentPlanSelected" name="paymentPlanSelected"
                ng-class="containsValuePP ? 'selected' : ''"
                ng-change="containsValuePP = true"
                ng-options="option1.description for option1 in productSelected.paymentPlans track by option1.description"
                required>
          <option value="" disabled selected class="placeholder">Select Payment Plan</option>
        </select>
      </div>

      <div ng-show="productSelected && paymentPlanSelected">
        <input type="text"
               name="uFirst"
               placeholder="Athlete First Name"
               required
               ng-model="athleteFirstName" />
        <small class="error" ng-show="form.uFirst.$error.required && form.uFirst.$touched">Athlete First Name is required</small>
        <input type="text"
               name="uLast"
               placeholder="Athlete Last Name"
               required
               ng-model="athleteLastName" />
        <small class="error" ng-show="form.uLast.$error.required && form.uLast.$touched">Athlete Last Name is required</small>
      </div>

    </form>
  </div>
  <div class="buttons-container">
    <button ui-sref="dashboard.payment.done" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Next'"></button>
  </div>

</div>

<!-- REVIEW PAYMENT STEP -->
<div class="white-container">
  <div class="title">
    Review Payment Plan
  </div>
  <p>Verify the dates and amounts below. If not correct, change your selection aboveor call us at <a class="phone" href="tel:8557643232">855.764.3232</a></p>
  <p class="bold">Your account will be charged automatically on this schedule.</p>

  <table class="transactions-table striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Details</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="number">
          1
        </td>
        <td class="date">
          <div class="month">DEC</div>
          <div class="day">25</div>
        </td>
        <td class="details">
          Payment 1 of 4 (Deposit + Uniform)
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          998.75
        </td>
      </tr>  
      <tr>
        <td class="number">
          2
        </td>
        <td class="date">
          <div class="month">JAN</div>
          <div class="day">22</div>
        </td>
        <td class="details">
          Payment 2 of 4
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          264.75
        </td>
      </tr>  
      <tr>
        <td class="number">
          3
        </td>
        <td class="date">
          <div class="month">FEB</div>
          <div class="day">15</div>
        </td>
        <td class="details">
          Payment 3 of 4
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          264.75
        </td>
      </tr>  
      <tr>
        <td class="number">
          4
        </td>
        <td class="date">
          <div class="month">MAR</div>
          <div class="day">18</div>
        </td>
        <td class="details">
          Payment 4 of 4
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          264.75
        </td>
      </tr>  
      
    </tbody>
  </table>

  <div class="inputs">
    <form name="form" novalidate>
      <div class="input-container">
        <input 
        type="text" 
        name="discountCode" 
        placeholder="Discount Code" 
        ng-model="discountCode" />
      </div>
      <button class="button-green btn-discount" ng-click="applyDiscount()">Apply Discount</button>
      <div class="clearfix"></div>
    </form>
  </div>

  <div class="payment-total">
    Total:&nbsp;&nbsp;
    <span class="green-font">$</span> 
    <span>1098.75</span>
  </div>

  <div class="buttons-container">
    <button ui-sref="dashboard.payment.done" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Next'"></button>
  </div>

</div>

<!-- SELECT ACCOUNT FINAL STEP -->
<div class="white-container">
  <div class="title">
    Select your payment account
  </div>
  <p>Choose or add your payment account</p>

  <div class="account-selected">
    <div>You will be paying with:</div>
    <div class="account-name">American Express x-1234</div>
  </div>

  <div class="green-link" ng-click="clickAccount()">Add/Change payment account</div>

  <p>You can change your payment account at any time by visiting Orders.</p>
  
  <div class="green-link">View Terms of Service</div>
  
  <div class="buttons-container">
    <button ui-sref="dashboard.payment.done" class="button-green btn-setup-payment" ng-disabled="loading" ng-bind-html="loading ? loader : 'Setup Payment Now'"></button>
  </div>

  <div class="bottom-link">Cancel</div>

</div>