<div class="white-container" ng-init="init()">
  <div class="title">
    Thank you for your order
  </div>
  <p>You will also receive an email with the details below</p>

  <div class="two-columns-wrapper">
    <div class="left-side">   
      <div class="teams">
        <div class="team">
          <img src="{{categorySelected.image}}" class="team-img" alt="">
          <div class="name">{{categorySelected.name}}</div>
          <div class="loc">{{categorySelected.location}}</div>
        </div>
      </div> 
    </div>
    <div class="right-side">
      <table class="order-details-table">
        <tbody>
          <tr>
            <td class="field">Order Id:</td>
            <td class="value">{{resumeOrder.orderId}}</td>
          </tr>
          <tr>
            <td class="field">Age Group:</td>
            <td class="value">{{resumeOrder.paymentsPlan[0].productInfo.productName}}</td>
          </tr>
          <tr>
            <td class="field">Payment Plan:</td>
            <td class="value">{{paymenPlanDescription}}</td>
          </tr>
        </tbody>
      </table>


      <table class="order-details-table" >
        <tbody order-details-table template="productSelected.customInfo.formTemplate" data="productSelected.customInfo.formData"></tbody>
      </table>
    </div>
    <div class="clearfix"></div>
  </div>
  <p class="bold">Your account will be charged automatically on this schedule.</p>

  <table class="transactions-table striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Details</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="schedule in schedules">
      <td class="number">
        {{$index+1}}
      </td>
      <td class="date">
        <div class="month">{{schedule.dateCharge | date : 'MMM' }}</div>
        <div class="day">
          {{schedule.dateCharge | date : 'd' }}
        </div>
      </td>
      <td class="details">
        {{schedule.description}}
      </td>
      <td class="total">
        <span class="green-font">$</span>
        {{schedule.owedPrice | currency: "" : 2}}
      </td>
    </tr>
    </tbody>
  </table>

  <div class="payment-total">
    Total:&nbsp;&nbsp;
    <span class="green-font">$</span>
    <span>{{total | currency: "" : 2}}</span>
  </div>

  <div class="buttons-container">
    <button ui-sref="dashboard.summary.components" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'View Summary'"></button>
  </div>

</div>