<!-- CHOOSE PLAN STEP -->
<div ng-init="init()">

<div id="step2" class="white-container" ng-show="step>=2" >
  <div class="title">
    Setup your payment
  </div>
  <p>Choose from the options below to setup your payment</p>
  <div class="teams">
    <div class="team">
      <img src="{{categorySelected.image}}" class="team-img" alt="">
      <div class="name">{{categorySelected.name}}</div>
      <div class="loc">{{categorySelected.location}}</div>
    </div>
  </div>
  <div class="inputs inputs-plan">
    <form name="formStep2" novalidate>
      <div class="select-container">
        <select ng-model="models.productSelected" name="productSelected"
                ng-options="option.details.name for option in products track by option.details.name"
                ng-disabled="step > 3 || coupon.precent"
                ng-change="onChangeProduct()"
                required>
          <option value="" disabled selected class="placeholder">Select One</option>
        </select>
      </div>

      <div class="select-container" ng-show="models.productSelected" >
        <select ng-model="models.paymentPlanSelected" name="paymentPlanSelected"
                ng-options="k as v.description for (k, v) in models.productSelected.paymentPlans"
                ng-disabled="step > 3 || coupon.precent"
                ng-change="onChangePaymentPlan()"
                required>
          <option value="" disabled selected class="placeholder">Select Payment Plan</option>
        </select>
      </div>

    </form>

    <div ng-if="renderCustomForm">
      <form id="dynamicForm" name="dynamicForm" dynamic-form template="models.productSelected.customInfo.formTemplate"
            ng-model="models.productSelected.customInfo.formData">
      </form>
    </div>

    <div class="buttons-container">
      <button type="submit" ng-show="step===2" class="button-green" ng-click="goStep3()" ng-disabled="loading" ng-bind-html="loading ? loader : 'Next'"></button>
    </div>

  </div>
</div>

  <!-- REVIEW PAYMENT STEP -->

  <div id="step3" class="white-container" ng-show="step>=3">
    <div class="title">
      Review Payment Plan
    </div>
    <p>Verify the dates and amounts below. If not correct, change your selection above or call us at <a class="phone" href="tel:8557643232">855.764.3232</a></p>
    <p class="bold red-font">Your account will be charged automatically on this schedule.</p>

    <table class="transactions-table striped">
      <thead>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Details</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="schedule in schedules">
        <td class="number">
          {{$index+1}}
        </td>
        <td class="date">
          <div class="month">{{schedule.dateCharge | date : 'MMM' }}</div>
          <div class="day">
            {{schedule.dateCharge | date : 'd' }}
          </div>
        </td>
        <td class="details">
          {{schedule.description}}
        </td>
        <td class="total">
          <span class="green-font">$</span>
          {{schedule.owedPrice | number:2}}
        </td>
      </tr>
      </tbody>
    </table>

    <div class="inputs">
      <form name="form" novalidate>
        <div class="input-container">
          <input
                  type="text"
                  name="discountCode"
                  placeholder="Discount Code",
                  ng-disabled="coupon.precent || step > 3"
                  ng-model="coupon.code" />
        </div>
        <button class="button-green btn-discount" ng-show="!coupon.precent && step < 4" ng-click="applyDiscount()" ng-disabled="loading" ng-bind-html="loading ? loader : 'Apply Discount'"></button>
        <div class="clearfix"></div>
      </form>
    </div>

    <div class="payment-total">
      Total:&nbsp;&nbsp;
      <span class="green-font">$</span>
      <span>{{total | number:2}}</span>
    </div>

    <div class="buttons-container">
      <button ng-click="goStep4()" ng-show="step===3" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Next'"></button>
    </div>

  </div>


  <!-- SELECT ACCOUNT FINAL STEP -->
  <div id="step4" class="white-container" ng-show="step>=4">
    <div class="title">
      Select your payment account
    </div>


    <div ng-show="card" class="account-selected">
      <div>You will be paying with:</div>
      <div class="account-name">{{card.brand}} x-{{card.last4}}</div>
    </div>

    <button class="button-green" ng-show="step===4 && !card" ng-hide="loading" ng-click="clickAccount()">Select Payment Account</button>




    <div class="buttons-container">
      <button id="btnCreateOrder" ng-click="createOrder()" ng-show="step===4 && card" class="button-green btn-setup-payment" ng-disabled="loading" ng-bind-html="loading ? loader : 'Submit Payment'"></button>
    </div>

    <div ui-sref="dashboard.payment.findOrg" ng-hide="loading" ng-click="cancel()" class="bottom-link">Cancel</div>

  </div>

    <div ng-show="step>=4"><img style="height: 20px" src="../img/lock.svg"><b><small> We take security seriously. Your account is encrypted with AES-256 and stored in a PCI-DSS Level 1 provider.</small></b> </div>

  <div class="green-link">
    <a href="https://getpaidup.com/terms-of-service/" target="_blank" class="green-font">View Terms of Service</a>
  </div>
  <modal-window show="modalterms" modal-title="'Terms of Service'">
    <div style="max-height: 400px; overflow-y:scroll;">
      <div ng-include="'/templates/dashboard/payment/terms.of.service.html'"></div>
    </div>
  </modal-window>
</div>
