<div class="summary-header">
  <div class="summary-header-container">
    <div class="row">
      <div class="col s12 m7 l8">
        <div class="user">
          <div class="valign-wrapper">
            <img src="../img/user-icon.png" alt="">
            <span class="user-name">Hi, Bob</span>
          </div>
        </div>
      </div>      
      <div class="col s12 m5 l4">
        <div class="action-buttons">
          <div class="dashboard-button">
            <img src="../img/dashboard-icon.png" alt="">
          </div>
          <div class="payment-button">      
            <img src="../img/payment-icon.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="summary-main">
  <div class="summary-main-container">
    <div class="row">
      <div class="col s12 m4">
        <div class="white-container">
          <div class="title">Accounts</div>
          <div class="center">
            <img src="../img/credit-cards.png" alt="credit-cards">
          </div>
          <p><a href="" class="green-link">Add your debit / credit card</a> to your account so you're ready to make a payment.</p>
        </div>  
      </div>
      <div class="col s12 m8 right-column">
        <div class="white-container">
          <div class="title">Recent Transactions</div>
          <p>This is where your most recent transaction will show up once you have made the first payment.</p>
          <p>Want to see some transactions? <a href="" class="green-link">Make a payment.</a></p>
        </div> 
      </div>
    </div>
  </div>
</div>