<footer class="page-footer">
  <div class="container">
    © 2014 - 2017 PaidUp, Inc. All rights reserved.  |  
    <a class="" href="https://getpaidup.com/privacy-policy" target="_blank">Privacy</a>  |  
    <a class="" href="https://getpaidup.com/terms-of-service/" target="_blank">Terms of Services</a>  |  
    <a class="" href="tel:8557643232">
      <i class="fa fa-phone fa-lg" aria-hidden="true"></i> Need Help? Call <span class="phone">855.764.3232</span>
    </a>
    |
    <a class="feedback" href="mailto:support@getpaidup.com?subject=PaidUp%20Site%2FService%20Feedback">
      <i class="fa fa-envelope fa-lg" aria-hidden="true"></i> Email Us
    </a>
  </div>
</footer>
