<header class="dashboard-header">
  <div class="header-container">
    <div class="img-logo left">
     <img src="../img/paidUpLogoWhite.png" alt="logo">
   </div>
   <div class="navigation-items left hide-on-med-and-down">
     <ul>
       <li>Summary</li>
       <li>Activities</li>
       <li>Orders</li>
       <li>Accounts</li>
     </ul>
   </div>
   <div class="right">
     <div class="help">Need Help? Call <span class="phone">(855) 764 3232</span></div>
     <div class="setting"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></div>
     <div class="logout-button hide-on-med-and-down"><a class="button-green" href="" ng-click="logout()">logout</a></div>     
   </div>
   <div class="clearfix"></div>
 </div>
</header>