<div class="row" ng-init="init()">
  <div class="col s12 center login-container">
    <a href="https://getpaidup.com">
      <img src="../img/PaidUpLogoPrimary.svg" alt="logo" class="logo-img">
    </a>
    <div class="error red-text text-darken-2" ng-bind="error | properCase"></div>
    <div class="info green-font" ng-bind="infoMessage"></div>
    <div class="inputs">
      <input placeholder="Email" id="email" type="text" class="validate" ng-model="user.email" />
      <input placeholder="Password" id="password" type="password" class="validate" ng-model="user.password" />
    </div>
    <div class="buttons-container">
    <button ng-click="localLogin()" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'LOGIN'"></button>
      <a ng-click="forgotLink()" class="forgot-link waves-effect">Forgot your password?</a>      
      <button ng-click="facebookLogin()" class="button-facebook" ng-disabled="loading" ng-bind-html="loading ? loader : facebookLoginTemplate"></button>
      <div class="horizontal-bar"></div>
      <button ui-sref="signup.step0" class="button-green btn-sign-up" ng-disabled="loading" ng-bind-html="loading ? loader : 'Sign Up'"></button>
      

      <!-- TRANSLATE DEMO PART -->
      <!-- 
        BEST to use translate as a directive as below or for dynamic codes (error code from server) use translate Service from Controller
      -->
     <!--  <div class="horizontal-bar"></div>
      <div translate="TITLE"></div>
      <a ng-click="changeLang('en')">EN</a>
      &nbsp;/&nbsp;
      <a ng-click="changeLang('es')">ES</a>
      <br>
      <a ng-click="fetchErrorCode()" translate="ACTION"></a> -->
      <!-- TRANSLATE DEMO PART END -->

    </div>
  </div>
</div>

<modal-window show="showForgotModal" modal-title="'Enter your email'">
<div class="inputs">
  <form name="form" novalidate>
    <input type="text" 
    name="uforgotEmail" 
    placeholder="Email" 
    required 
    ng-model="forgotEmail" 
    ng-model-options="{ updateOn: 'blur' }" />
    <small class="error" ng-show="form.uforgotEmail.$error.required && form.uforgotEmail.$touched">Email is required</small>
  </form>
</div>
<div class="center">
  <button ng-click="submitForgotPassword(form.uforgotEmail)" class="button-green save-cancel" ng-disabled="loading" ng-bind-html="loading ? loader : 'Submit'"></button>
  <button ng-click="closeModal()" class="button-green save-cancel" ng-disabled="loading" ng-bind-html="loading ? loader : 'Cancel'"></button>
</div>
</modal-window>

<modal-window show="showResetModal" modal-title="'To reset your password, enter your new password below'">
  <div class="error red-text text-darken-2" ng-bind="messageReset"></div>
  <div class="inputs">
    <form name="form" novalidate>
      <input type="password" 
      name="uresetPassword" 
      placeholder="Password" 
      required 
      ng-minlength="6"
      ng-model="resetPassword" 
      ng-model-options="{ updateOn: 'blur' }" />
      <small class="error" ng-show="form.uresetPassword.$error.required && form.uresetPassword.$touched">Password is required</small>      
      <small class="error" ng-show="form.uresetPassword.$touched && (form.uresetPassword.$error.minlength || form.uresetPassword.$error.required)">Min 6 Characters</small>
      <input type="password" 
      name="uresetPasswordMatch" 
      placeholder="Re-enter Password" 
      required
      ng-minlength="6"
      ng-model="resetPasswordMatch" 
      ng-model-options="{ updateOn: 'blur' }"
      ng-blur="validatePassword(form)" />
    <small class="error" ng-show="form.uresetPasswordMatch.$touched && (form.uresetPasswordMatch.$error.minlength || form.uresetPasswordMatch.$error.required)">Min 6 Characters</small>
    <small class="error" ng-show="form.uresetPasswordMatch.$error.match">Passwords do not match</small>
    </form>
  </div>
  <div class="center">
    <button ng-click="submitResetPassword(form)" class="button-green save-cancel" ng-disabled="loading" ng-bind-html="loading ? loader : 'Submit'"></button>
    <button ng-click="closeModal()" class="button-green save-cancel" ng-disabled="loading" ng-bind-html="loading ? loader : 'Cancel'"></button>
  </div>
</modal-window>