<div class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4 whiteContainer">
      <div>
        <input placeholder="Email" id="email" type="text" class="validate" ng-model="loginInfo.email" />
        <input placeholder="Password" id="password" type="password" class="validate" ng-model="loginInfo.password" />
      </div>
      <!--Contenedor de Botones-->
      <div class="buttonsContainer">
        <a ng-click="normalLogin()" class="buttonGreen waves-effect waves-light">LOGIN</a>
        <br />
        <br />
        <a ng-click="facebookLogin()" class="buttonFacebook waves-effect">Login with Facebook</a>
        <br />
        <br />
        <a ui-sref="singup" class="buttonGreen waves-effect waves-light">SIGN UP</a>
      </div>
    </div>
  </div>
</div>