<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
</div>
<p class="title">
  Where do you want us to deposit your money?
</p>
<div class="input-help-text note-text">
  Routing numbers are 9 digits long. Please use the one designated for paper and electronic (not wire) transfer.
</div>

<div class="inputs">
  <form name="form" novalidate>

    <input type="text"
    name="uRoutingNumber" 
    placeholder="Routing Number (ABA)" 
    required 
    ng-model="user.routingNumber"
    ng-change="ABAValidator()"
    ng-blur="maskABA()"
    ng-focus="unmaskABA()"
    ng-keypress="validateNumberInput($event)"
    maxlength="9" />
    <small class="error" ng-show="form.uRoutingNumber.$error.required && form.uRoutingNumber.$touched">Routing Number is required</small>   
    <small class="error" ng-show="form.uRoutingNumber.$error.aba && form.uRoutingNumber.$touched">Routing number is not correct</small>
    
    <input type="text"
    name="uDDA1" 
    placeholder="Account Number (DDA)" 
    required 
    ng-model="user.DDA1" 
    ng-change="validateDDA1()"
    ng-blur="maskDDA()"
    ng-focus="unmaskDDA()"
    ng-keypress="validateNumberInput($event)" />
    <small class="error" ng-show="form.uDDA1.$error.required && form.uDDA1.$touched">Account Number is required</small>  
    <small class="error" ng-show="form.uDDA1.$error.pattern && form.uDDA1.$touched">Account number format error</small> 
    <input type="text" 
    name="uDDA2" 
    placeholder="Re-Enter Account Number (DDA)" 
    required 
    ng-model="user.DDA2" 
    ng-change="validateDDA2()"
    ng-focus="unmaskDDA2()"
    ng-blur="maskDDA2()"
    ng-keypress="validateNumberInput($event)" />
    <small class="error" ng-show="form.uDDA2.$error.match">Account Numbers do not match</small>
    <div class="agree-checkbox">
      <small class="error" ng-show="form.agreeTerms.$error.terms">Please agree to terms</small> 
      <input type="checkbox" id="agreeTerms" name="agreeTerms" ng-model="agreeTerms" />
      <label for="agreeTerms" class="input-help-text">
        By signing up, I agree with the PaidUp's <a href="https://getpaidup.com/terms-of-service/" target="_blank">Terms of Service</a>, <a href="https://getpaidup.com/privacy-policy" target="_blank">Privacy Policy</a> &amp; <a href="https://stripe.com/connect/account-terms" target="_blank">Stripe Connected Account Agreement</a>.
      </label>
    </div>
  </form>
</div>


<div class="buttons-container">
  <button ng-click="next()" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Agree and Create Account'"></button>
</div>
