<div class="white-container">
  <p class="center">PaidUp is the easiest and most flexible way to make payments and get paid up.</p>
  <h3>Sign Up today!</h3>

  <div class="radio-buttons">
    <div class="left"><img src="../img/singup1.png" alt=""></div>
    <div class="radio-option left">
      <input name="group1" type="radio" id="personalAccount" />
      <label for="personalAccount">Personal Account<br /><span>Choose this account if you are making a payment.</span></label>
    </div>
    <div class="clearfix radio-separator"></div>
    <div class="left"><img src="../img/singup2.png" alt=""></div>
    <div class="radio-option left">
      <input name="group1" type="radio" id="bussinesAccount" />
      <label for="bussinesAccount">Bussines Account<br /><span>Choose this account if you need to get paid.</span></label>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="buttons-container">
    <a href="#" class="button-green">NEXT</a>
  </div>

  <p class="end-note">
    <span>Note:</span> You can always upgrade your account to include both personal and business services after sign up.
  </p>
</div>
