<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
</div>

<p class="title">
  This is the final step. There's a one time setup fee.
</p>

<div class="inputs">
  <input placeholder="Referral Code" type="text" ng-model="referralCode" />
</div>


<div class="buttons-container">
  <a ng-click="next()" class="button-green button-agree">Next</a>
</div>
