<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count"></div>
</div>

<p class="title">
  We need details about your organization.
</p>
<div class="input-help-text note-text">
  The Patriot Act require us to capture information about your business to prevent money laundering. Necessary information but standard. Not to worry.
</div>
<div class="inputs">
  <div class="select-container">
    <select ng-model="user.state" ng-class="containsValue ? 'selected' : ''" ng-change="containsValue = true">
      <option value="" disabled selected class="placeholder">Business Type</option>
      <option value="NY">New York</option>
    </select>
  </div>
  <input placeholder="Legal Business Name" type="text" ng-model="user.email" />
  <div class="input-help-text">
    Please provde the legal name of your business exactly as it appears on your tax documents to avoid any delays in getting paid.
  </div>
  <input placeholder="Employer Identification Number (EIN)" type="text" ng-model="user.email" />


</div>


<div class="buttons-container">
  <a ui-sref="singup.step3p" class="button-green button-agree">Link Card</a>
  <a ui-sref="singup.step4p" class="skip-card-info">I'll do this later</a>
</div>
