<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count"></div>
  <div class="steps-count"></div>
</div>

<p class="title">
  We need details about your organization.
</p>
<div class="input-help-text note-text">
  The Patriot Act require us to capture information about your business to prevent money laundering. Necessary information but standard. Not to worry.
</div>
<div class="inputs">
  <form name="form" novalidate>
    <div class="select-container">
      <select ng-model="user.businessType" name="uBusinessType" required ng-class="containsValue ? 'selected' : ''" ng-change="containsValue = true">
        <option value="" disabled class="placeholder">Business Type</option>
        <option ng-repeat="businessType in businessTypes" value="{{businessType}}">
              {{businessType}}
        </option>
      </select>
      <small class="error" ng-show="form.uBusinessType.$error.required && form.uBusinessType.$touched">BusinessType is required</small>  
    </div>
    <input 
    type="text" 
    name="uBusinessName" 
    placeholder="Legal Business Name" 
    required 
    ng-model="user.businessName" 
    ng-model-options="{ updateOn: 'blur' }" />
    <small class="error" ng-show="form.uBusinessName.$error.required && form.uBusinessName.$touched">Business Name is required</small>  
    <div class="input-help-text">
      Please provde the legal name of your business exactly as it appears on your tax documents to avoid any delays in getting paid.
    </div>
    <input type="text" 
    name="uEIN" 
    placeholder="Employer Identification Number (EIN) (XX-XXXXXXX)" 
    required
    ng-pattern="/^\d{2}-?\d{7}$/"
    ng-model="user.EIN" 
    ng-model-options="{ updateOn: 'blur' }" 
    ui-mask="99-9999999"
    ui-mask-placeholder/>
    <small class="error" ng-show="form.uEIN.$error.required && form.uEIN.$touched">EIN is required</small>
    <small class="error" ng-show="form.uEIN.$error.pattern && form.uEIN.$touched">Invalid EIN format</small>
    <small class="error" ng-show="form.uDateOfBirth.$error.mask && form.uDateOfBirth.$touched">Invalid EIN</small>
  </form>
</div>


<div class="buttons-container">
 <button ng-click="next()" class="button-green button-agree" ng-disabled="loading" ng-bind-html="loading ? loader : 'Next'"></button>
 <!--<a ng-click="next()" class="button-green button-agree">Next</a>-->
</div>
