<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count"></div>
  <div class="steps-count"></div>
  <div class="steps-count" ng-if="userType === 'business'"></div>
  <div class="steps-count" ng-if="userType === 'business'"></div>
</div>
<p class="title">
  You're almost there. 
  <br>
  We just need a few details from you.
</p>
<div class="center">
  <img ng-src="../img/singup-{{userType}}.png" alt="Personal Account" class="center">
</div>
<h4>{{userType}} Account</h4>
<div class="inputs">
  <form name="form" novalidate>
    <input placeholder="Your E-mail" type="email" name="uEmail" ng-model="user.email" required ng-model-options="{ updateOn: 'blur' }"/>
    <small class="error" ng-show="form.uEmail.$error.email">Not a valid email.</small>
    <small class="error" ng-show="form.uEmail.$error.required && form.uEmail.$touched">What's your email address?</small>
    <input placeholder="Create your password" type="password" name="uPass1" ng-model="user.password1" required ng-minlength="6"  ng-model-options="{ updateOn: 'blur' }"/>
    <small class="error" ng-show="form.uPass1.$touched && (form.uPass1.$error.minlength || form.uPass1.$error.required)">Min 6 Characters</small>
    <input placeholder="Confirm your password" type="password" name="uPass2" ng-model="user.password2" required ng-minlength="6" ng-model-options="{ updateOn: 'blur' }" ng-blur="validatePassword(form)" />
    <small class="error" ng-show="form.uPass2.$touched && (form.uPass2.$error.minlength || form.uPass2.$error.required)">Min 6 Characters</small>
    <small class="error" ng-show="form.uPass2.$error.match">Passwords do not match</small>
  </form>
</div>

<div class="buttons-container">
  <!--<a ng-click="next()" class="button-green btn-next">Next</a>-->
  <button ng-click="next()" class="button-green button-next" ng-disabled="loading" ng-bind-html="loading ? loader : 'Next'"></button>
  <button ng-click="facebookSignUp()" class="button-facebook" ng-disabled="loading" ng-bind-html="loading ? loader : facebookSingUpTemplate"></button>
</div>
