<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
</div>

<p class="title">
  Link a debit or credit card to start making payments.
</p>

<div class="inputs">
  <form name="form" novalidate>
    <input placeholder="Card Number" type="text" ng-model="cardNumber" name="cNum" ui-mask="999999999999?9?9?9?9?9?9?9" ui-mask-placeholder ui-mask-placeholder-char="space" ng-blur="validateCardInfo(form)"/>
    <small class="error" ng-show="form.cNum.$error.cNum && form.cNum.$touched">Card Number not valid</small>  
    <div class="row two-colums">
      <div class="col s12 m6">
      <input placeholder="Exp. Date (MM/YY)" type="text" ng-model="expDate" name="cExpDate" ui-mask="99/99" model-view-value="true"  ui-mask-placeholder ui-mask-placeholder-char="_" required ng-blur="validateCardInfo(form)" />
        <small class="error" ng-show="form.cExpDate.$error.cExpDate && form.cExpDate.$touched">Expire Date not valid</small> 
      </div>
      <div class="col s12 m6">
        <input placeholder="Security Code" type="text" ng-model="secCode" name="cSecCode" ui-mask="999?9" ui-mask-placeholder ui-mask-placeholder-char="space" required ng-model-options="{ updateOn: 'blur' }" />
        <small class="error" ng-show="form.cSecCode.$error.required && form.cSecCode.$touched">Security Code is required</small> 
        <small class="error" ng-show="form.cSecCode.$error.mask && form.cSecCode.$touched">Security Code not valid</small> 
      </div>
    </div>

    <div class="section-title">Billing Address</div>
    
    <input type="text" 
    name="bStreetAddress" 
    placeholder="Street Address" 
    required 
    ng-model="billingAddress.streetAddress" 
    ng-model-options="{ updateOn: 'blur' }" />
    <small class="error" ng-show="form.bStreetAddress.$error.required && form.bStreetAddress.$touched">Street Address is required</small> 

    <input type="text" 
    name="bCity" 
    placeholder="City" 
    required 
    ng-model="billingAddress.city" 
    ng-model-options="{ updateOn: 'blur' }" />
    <small class="error" ng-show="form.bCity.$error.required && form.bCity.$touched">City is required</small>  
    <div class="row two-colums">
      <div class="col s12 m6">
        <div class="select-container">
          <select ng-model="billingAddress.state" name="bState" ng-class="containsValue ? 'selected' : ''" ng-change="containsValue = true" required>
            <option value="" disabled selected class="placeholder">State</option>
            <option ng-repeat="state in states" value="{{state.abbreviation}}">
              {{state.abbreviation}}
            </option>
          </select>
          <small class="error" ng-show="form.bState.$error.required && form.bState.$touched">State is required</small>  
        </div>
      </div>
      <div class="col s12 m6">
        <input type="text" 
        name="bZipCode" 
        placeholder="Zip Code" 
        required 
         ui-mask="99999"
        ui-mask-placeholder
        ng-model="billingAddress.zipCode" 
        ng-model-options="{ updateOn: 'blur' }" />
        <small class="error" ng-show="form.bZipCode.$error.required && form.bZipCode.$touched">Zip Code is required</small> 
        <small class="error" ng-show="form.bZipCode.$error.mask && form.bZipCode.$touched">Invalid ZipCode</small> 
      </div>
    </div>
  </form>
</div>


<div class="buttons-container">
  <button ng-click="linkCard()" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Link Card'"></button>
  <a ui-sref="singup.welcome" class="skip-card-info">I'll do this later</a>
</div>
