<div class="center">
  <div class="steps-count selected"></div>
  <div class="steps-count selected"></div>
  <div class="steps-count"></div>
</div>
<p class="title">
  Just a few more pieces of information and you're on your way.
</p>

<div class="inputs">
  <input placeholder="Legal First Name" type="text" ng-model="user.email" />
  <div class="input-help-text">Provide your name as it appears in legal documents to avoid delays in getting paid (e.g. Michael not Mike).</div>
  <input placeholder="Legal Last Name" type="text" ng-model="user.email" />
  <input placeholder="Street Address" type="text" ng-model="user.email" />
  <input placeholder="City" type="text" ng-model="user.email" />
  <div class="row two-colums">
    <div class="col s12 m6">
      <div class="select-container">
        <select ng-model="user.state" ng-class="containsValue ? 'selected' : ''" ng-change="containsValue = true">
          <option value="" disabled selected class="placeholder">State</option>
          <option value="NY">New York</option>
        </select>
      </div>
    </div>
    <div class="col s12 m6">
      <input placeholder="Zip Code" type="text" ng-model="user.email" />
    </div>
  </div>
  <input placeholder="Phone Number" type="text" ng-model="user.email" />
  <div class="agree-checkbox">
    <input type="checkbox" id="agreeTerms" />
    <label for="agreeTerms" class="input-help-text">
     By signing up, I agree with the PaidUp's <a href="">Terms of Service</a>, <a href="">Privacy Policy</a> &amp; <a href="">Stripe Connectec Account Agreement</a>.
   </label>
 </div>
</div>


<div class="buttons-container">
  <a ui-sref="singup.step3p" class="button-green button-agree">Agree and Create Account</a>
</div>
