
<p class="title">PaidUp is the easiest and most flexible way to make payments and get paid up.</p>
<h3>Sign Up today!</h3>
<div class="error red-text text-darken-2 center" ng-bind="error"></div>
<div class="inputs">
  <div class="row">
    <div class="col s2"><img src="../img/singup-personal.png" alt=""></div>
    <div class="radio-option col s10">
      <input name="group1" type="radio" id="personalAccount" ng-model="userType" value="personal" />
      <label for="personalAccount">Personal Account<br /><span>Choose this account if you are making a payment.</span></label>
    </div>
  </div>
  <div class="radio-separator"></div>
  <div class="row">
    <div class="col s2"><img src="../img/singup-business.png" alt=""></div>
    <div class="radio-option col s10">
      <input name="group1" type="radio" id="bussinesAccount" ng-model="userType" value="business" />
      <label for="bussinesAccount">Bussines Account<br /><span>Choose this account if you need to get paid.</span></label>
    </div>
  </div>
</div>

<div class="buttons-container">
  <!-- <a ui-sref="singup.step1" class="button-green" ng-click="next()">NEXT</a> -->
  <a class="button-green" ng-click="next()">NEXT</a>
</div>

<p class="end-note">
  <span>Note:</span> You can always upgrade your account to include both personal and business services after sign up.
</p>
