<p class="title">PaidUp is the easiest and most flexible way to make payments and get paid up.</p class="title">
<h3>Sign Up today!</h3>

<div class="radio-buttons">
  <div class="row">
    <div class="col s2"><img src="../img/singup1.png" alt=""></div>
    <div class="radio-option col s10">
      <input name="group1" type="radio" id="personalAccount" />
      <label for="personalAccount">Personal Account<br /><span>Choose this account if you are making a payment.</span></label>
    </div>
  </div>
  <div class="radio-separator"></div>
  <div class="row">
    <div class="col s2"><img src="../img/singup2.png" alt=""></div>
    <div class="radio-option col s10">
      <input name="group1" type="radio" id="bussinesAccount" />
      <label for="bussinesAccount">Bussines Account<br /><span>Choose this account if you need to get paid.</span></label>
    </div>
  </div>
</div>

<div class="buttons-container">
  <a href="#" class="button-green">NEXT</a>
</div>

<p class="end-note">
  <span>Note:</span> You can always upgrade your account to include both personal and business services after sign up.
</p>
