<div class="white-container">
  <div class="title-blue">Recent Transactions</div>
  <div ng-if="!orders.length">
    <!-- No transactions StART -->
    <p>This is where your most recent transaction will show up once you have made the first payment.</p>
    <!--p>Want to see some transactions? <a href="" ui-sref="dashboard.payment.findOrg" class="green-link">Make a payment.</a></p-->
    <!-- No transactions END -->
    <hr>
  </div>
  <!-- Transactions START -->
  <table class="transactions-table striped">
    <tbody>
      <tr ng-repeat="order in orders">
        <td class="date">
          <div class="month">{{(order.paymentsPlan.dateCharge | date : 'MMM') | uppercase}}</div>
          <div class="day">{{ order.paymentsPlan.dateCharge | date: 'dd'}}</div>
        </td>
        <td class="organization">
          <div class="team-icon">
            <div>{{order.paymentsPlan.productInfo.productName | limitTo:2}}</div>
          </div>
          <div class="team">
            <div class="team-name">{{order.paymentsPlan.productInfo.productName}}</div>
            <div ng-if="order.paymentsPlan.beneficiaryInfo.beneficiaryName" class="team-contact">{{order.paymentsPlan.beneficiaryInfo.beneficiaryName}}</div>
            <div class="team-contact" custom-fields-displayable custominfo="order.paymentsPlan.customInfo"></div>

          </div>
          <div class="clearfix"></div>
        </td>
        <td class="status">
          <div class="{{order.paymentsPlan.status === 'succeeded' ? 'green-font' : 'red-font' }}">
            <i class="{{order.paymentsPlan.status === 'succeeded' ? 'fa fa-check' : 'fa fa-times' }}"></i> <span>{{order.paymentsPlan.status.startsWith('disable-') ? 'disabled' : order.paymentsPlan.status}}</span>
          
            <div ng-if="order.paymentsPlan.status.startsWith('refunded')" class="tooltip"><i class="info fa fa-info" aria-hidden="true"></i>
              <span class="tooltiptext">
                <div ng-if="attempt.status.startsWith('refunded')" ng-repeat="attempt in order.paymentsPlan.attempts">
                    Refunded {{ attempt.amount | currency:"$"}} on {{attempt.dateAttemp | date : "MM/dd/yyyy" }}                           
                </div>
              </span>
            </div>
            
          </div>
          
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          {{ order.paymentsPlan.refund ? order.paymentsPlan.refund + order.paymentsPlan.price : order.paymentsPlan.price | currency:""}}
        </td>
      </tr> 
    </tbody>
  </table>
  <!-- Transactions END -->
</div> 
