<header class="dashboard-header" ng-controller="HeaderCtrl">
  <div class="header-container">
    <div class="hamburguer-menu hide-on-large-only" ng-click="clickMobileMenu()">
      <i class="fa fa-bars"></i>
    </div>
    <div class="img-logo left">
      <img src="../img/paidUpLogoWhite.png" alt="logo">
    </div>
    <div class="navigation-items left hide-on-med-and-down">
     <ul>
       <li ui-sref="dashboard.summary.components">Summary</li>
       <li ui-sref="dashboard.activities">Activities</li>
       <li ui-sref="dashboard.orders">Orders</li>
       <li ng-click="clickAccounts()">Accounts</li>
       <li ng-if="isCoach">Deposits</li>
       <li ng-if="isCoach">Aging</li>
     </ul>
   </div>
   <div class="right">
     <div class="help" ng-hide="isCoach">Need Help? Call <span class="phone">(855) 764 3232</span></div>
     <div class="setting"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></div>
     <div class="logout-button hide-on-med-and-down"><a class="button-green" href="" ng-click="logout()">logout</a></div>     
   </div>
   <div class="clearfix"></div>
 </div>
</header>