<div class="white-container" ng-init="init()">
  <div class="title-blue">Accounts</div>
  <div ng-if="!payments.length">
    <!-- No accounts START -->
    <div class="center">
      <img src="../img/credit-cards.png" alt="credit-cards">
    </div>
    <p><a href="" ng-click="updateAccounts()" class="green-link">Add your debit / credit card</a> to your account so you're ready to make a payment.</p>
  </div>
  <!-- No accounts END -->
  <!-- Accounts START -->
  <div ng-if="payments.length" name="divAccountsList" ng-model="user.routingNumber">
    
    <!-- <p>Orders with remaining payments (Click to see payment schedule):</p> -->
    <ul class="accounts-list">
      <li class="clearfix" ng-repeat="payment in payments">
        <div class="icon-container"><i class="fa fa-{{getBrandCardClass(payment.brand)}}"></i></div>
        <div class="account-name">{{payment.name}} <span class="card-number">x-{{payment.last4}}</span></div>
      </li>
    </ul>
    <!--<div class="bottom-link" ng-click="updateAccounts()">Update</div>-->
  </div>
  <!-- Accounts END -->
</div>  
