<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">ORDERS</div>
          
          <div class="date-filter">
            <div class="date-input">
              <i class="fa fa-calendar"></i>
              <input type="text" placeholder="From" />
            </div>
            <div class="date-input">
              <i class="fa fa-calendar"></i>
              <input type="text" placeholder="To" />
            </div>
          </div>
          <div class="clearfix"></div>

          <table class="transactions-table striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Organization</th>
                <th class="centered">Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="expandSection1 = !expandSection1">
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Austin Boom</div>
                    <div class="team-contact">Jerry Garcia</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="gray-font">
                    <i class="fa fa-hourglass"></i> <span>Pending</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>
              <tr>
                <td class="expand" colspan="4">
                  <div ng-class="expandSection1 ? 'expandable-section active' : 'expandable-section'">
                    <div class="expanded-section">
                      <div class="info-box">
                        <span class="green-font">
                          Order Id:
                        </span>
                        <br>
                        <a href="" class="green-link">SFY2323SDSDSAD32</a>
                      </div>
                    </div>                     
                  </div>
                </td>                
              </tr>
              <tr>
                <td class="empty-section" colspan="4"></td>                
              </tr>
              <tr>
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Cobras Volleyball Club</div>
                    <div class="team-contact">Andy Thompson</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="blue-font">
                    <i class="fa fa-sign-in fa-rotate-90"></i> <span>Active</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>
              <tr>
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Austin Boom</div>
                    <div class="team-contact">Jerry Garcia</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="green-font">
                    <i class="fa fa-check"></i> <span>Completed</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>
            </tbody>
          </table>

          <div class="bottom-link">Next 30</div>

        </div>
      </div>
    </div>
  </div>
</div>
