<div class="white-container">
  <div class="title-blue">Recent Transactions</div>
  <!-- No transactions StART -->
  <p>This is where your most recent transaction will show up once you have made the first payment.</p>
  <p>Want to see some transactions? <a href="" class="green-link">Make a payment.</a></p>
  <!-- No transactions END -->
  <hr>
  <!-- Transactions START -->
  <table class="transactions-table striped">
    <tbody>
      <tr>
        <td class="date">
          <div class="month">DEC</div>
          <div class="day">25</div>
        </td>
        <td class="organization width60">
          <div class="team-icon">
            <div>AB</div>
          </div>
          <div class="team">
            <div class="team-name">Austin Boom</div>
            <div class="team-contact">Jerry Garcia</div>
          </div>
          <div class="clearfix"></div>
        </td>
        <td class="total">
          <span class="green-font">$ -</span> 
          264.75
        </td>
      </tr>  
      <tr>
        <td class="date">
          <div class="month">DEC</div>
          <div class="day">30</div>
        </td>
        <td class="organization width60">
          <div class="team-icon">
            <div>AB</div>
          </div>
          <div class="team">
            <div class="team-name">Austin Boom</div>
            <div class="team-contact">Jerry Garcia</div>
          </div>
          <div class="clearfix"></div>
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          1002.33
        </td>
      </tr>  
      <tr>
        <td class="date">
          <div class="month">DEC</div>
          <div class="day">25</div>
        </td>
        <td class="organization width60">
          <div class="team-icon">
            <div>AB</div>
          </div>
          <div class="team">
            <div class="team-name">Austin Boom</div>
            <div class="team-contact">Jerry Garcia</div>
          </div>
          <div class="clearfix"></div>
        </td>
        <td class="total">
          <span class="green-font">$</span> 
          264.75
        </td>
      </tr>  
      <tr>
        <td class="date">
          <div class="month">DEC</div>
          <div class="day">25</div>
        </td>
        <td class="organization width60">
          <div class="team-icon">
            <div>AB</div>
          </div>
          <div class="team">
            <div class="team-name">Austin Boom</div>
            <div class="team-contact">Jerry Garcia</div>
          </div>
          <div class="clearfix"></div>
        </td>
        <td class="total">
          <span class="green-font">$ -</span> 
          264.75
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Transactions END -->
</div> 
