<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container" ng-init="init()">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">ORDERS</div>
          
          <div class="table-filters">
            <div class="date-filter">
              <div class="date-input">
                <i class="fa fa-calendar"></i>
                <input type="text" placeholder="From" />
              </div>
              <div class="date-input">
                <i class="fa fa-calendar"></i>
                <input type="text" placeholder="To" />
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <table class="transactions-table striped even-rows-gray">
            <thead>
              <tr>
                <th>Date</th>
                <th>Organization</th>
                <th class="centered">Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>

              <tr ng-click="expandSection1 = !expandSection1" ng-repeat-start="order in allOrders">
                <td class="date">
                  <div class="month">{{(order.createAt | date : 'MMM') | uppercase}}</div>
                  <div class="day">{{order.createAt | date: 'dd'}}</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>{{order.paymentsPlan[0].productInfo.productName | limitTo:2}}</div>
                  </div>
                  <div class="team">
                    <div class="team-name">{{order.paymentsPlan[0].productInfo.productName}}</div>
                    <div class="team-contact">{{order.paymentsPlan[0].beneficiaryInfo.beneficiaryName}}</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="{{(order.status === 'active' || order.status === 'complete') ? 'green-font' : 'red-font' }}">
                    <span>{{order.status}}</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  {{order.totalPrice | currency:""}}
                </td>
              </tr>

              <tr class="expandable" ng-repeat-end>
                <td class="expand" colspan="4">
                  <div ng-class="expandSection1 ? 'expandable-section active' : 'expandable-section'">
                    <div class="expanded-section contains-table">

                      <div class="info-box order-id">
                        <span class="green-font">
                          Order Id:
                        </span>
                        <br>
                        <a href="" class="green-link">{{order.orderId}}</a>
                      </div>
                      
                      <div class="tables-separator"></div>

                      <div class="charges-container">
                        <div class="green-font charges-title"><!--Pending--> Charges</div>
                        <div class="gray-font">Your account will be charged automatically on the dates below.</div>
                        
                        <table class="charges-table">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Details</th>
                              <th class="centered">Account</th>
                              <th class="centered">Status</th>
                              <th>Owed</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-repeat="pp in order.paymentsPlan">                             
                              <td class="date">
                                <div class="month">{{(pp.dateCharge | date : 'MMM') | uppercase}}</div>
                                <div class="day">{{pp.dateCharge | date: 'dd'}}</div>
                              </td>
                              <td class="details">
                                {{pp.description}}
                              </td>
                              <td class="account centered">
                                <i class="fa fa{{pp.brand ? ('cc-'+pp.brand | lowercase) : 'credit-card-alt'}}"></i> 
                                <a href="" class="green-link">x-{{pp.last4}}</a>
                              </td>
                              <td class="status">
                                <span>{{pp.status}}</span>
                              </td>
                              <td class="total">
                                <span class="green-font">$</span> 
                                {{pp.price | currency:""}}
                              </td>
                            </tr>
                            </tr>
                          </tbody>
                        </table>

                      </div>
                    </div>                     
                  </div>
                </td>                
              </tr>
              <tr>
                <td class="empty-section" colspan="4"></td>                
              </tr>
            </tbody>
          </table>

          <!--<div class="bottom-link">Next 30</div>-->

        </div>
      </div>
    </div>
  </div>
</div>
