<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">Aging</div>
          
          <!-- FILTERS -->          
          <div class="table-filters">
            <div class="date-filter">
              <div class="date-input">
                <i class="fa fa-calendar"></i>
                <input type="text" placeholder="From" />
              </div>
              <div class="date-input">
                <i class="fa fa-calendar"></i>
                <input type="text" placeholder="To" />
              </div>
            </div>
            <div class="right-filters">
              <div class="download-cvs">
                Download as CVS
              </div>
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="main-tables-container">

            <!-- HEADER AND TOTALS -->
            <table class="header-table">
              <thead>
                <tr>
                  <th class="date">Date</th>
                  <th class="user">User</th>
                  <th class="aging-value">1-30 Days Overdue</th>
                  <th class="aging-value">31-60 Days Overdue</th>
                  <th class="aging-value">61-90 Days Overdue</th>
                  <th class="aging-value">Over 90 Days Overdue</th>
                  <th class="aging-value">Total Overdue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" class="name">TOTAL (for time period selected)</td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    998.75
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    998.75
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    12000
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    0
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    20008.75
                  </td>

                </tr>
              </tbody>
            </table>

            <!-- CATEGORY 1 -->
            <table class="header-table">        
              <tbody>
                <tr ng-click="expandCategory1 = !expandCategory1">
                  <td colspan="2" class="name">16U Red</td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    0.75
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    0
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    0
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    0
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    0.75
                  </td>
                </tr>
              </tbody>
            </table>

            <div ng-class="expandCategory1 ? 'category-table active' : 'category-table'">

             <table class="transactions-table aging-table">

               <tbody>

                 <tr>
                   <td class="date">
                     <div class="month">DEC</div>
                     <div class="day">25</div>
                   </td>
                   <td class="organization">
                     <div class="team-icon">
                       <div>AB</div>
                     </div>
                     <div class="team">
                       <div class="team-name">Austin Boom</div>
                       <div class="team-contact">Jerry Garcia</div>
                     </div>
                     <div class="clearfix"></div>
                   </td>
                   <td class="aging-value">
                    <span class="green-font">$</span> 
                    2.75
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    444.75
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    343434
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    03
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> 
                    200083.75
                  </td>

                </tr>

                <tr>
                 <td class="date">
                   <div class="month">DEC</div>
                   <div class="day">25</div>
                 </td>
                 <td class="organization">
                   <div class="team-icon">
                     <div>AB</div>
                   </div>
                   <div class="team">
                     <div class="team-name">Austin Boom</div>
                     <div class="team-contact">Jerry Garcia</div>
                   </div>
                   <div class="clearfix"></div>
                 </td>
                 <td class="aging-value">
                  <span class="green-font">$</span> 
                  948.75
                </td>
                <td class="aging-value">
                  <span class="green-font">$</span> 
                  3214.75
                </td>
                <td class="aging-value">
                  <span class="green-font">$</span> 
                  12000
                </td>
                <td class="aging-value">
                  <span class="green-font">$</span> 
                  0
                </td>
                <td class="aging-value">
                  <span class="green-font">$</span> 
                  48.75
                </td>

              </tr>

              <tr>
               <td class="date">
                 <div class="month">DEC</div>
                 <div class="day">25</div>
               </td>
               <td class="organization">
                 <div class="team-icon">
                   <div>AB</div>
                 </div>
                 <div class="team">
                   <div class="team-name">Austin Boom</div>
                   <div class="team-contact">Jerry Garcia</div>
                 </div>
                 <div class="clearfix"></div>
               </td>
               <td class="aging-value">
                <span class="green-font">$</span> 
                998.75
              </td>
              <td class="aging-value">
                <span class="green-font">$</span> 
                4.75
              </td>
              <td class="aging-value">
                <span class="green-font">$</span> 
                55
              </td>
              <td class="aging-value">
                <span class="green-font">$</span> 
                3434
              </td>
              <td class="aging-value">
                <span class="green-font">$</span> 
                34.75
              </td>

            </tr>





          </tbody>
        </table>
      </div>         

    </div>



    <div class="bottom-link">Next 20</div>

  </div>
</div>
</div>
</div>
</div>
