<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container" ng-init="init()">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">Deposits</div>

          <!-- FILTERS -->
          <div class="table-filters">
            <div class="date-filter">
              <form name="form" novalidate>
                <!--<div class="date-input">
                  <i class="fa fa-calendar" ng-click="open1()"></i>
                  <input type="text" placeholder="From" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt1" name="udt1" is-open="popup1.opened"
                    ng-required="true" close-text="Close" datepicker-options="dateOptions1" ng-change="change1()" alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                    on-open-focus="false" />
                </div>
                <div class="date-input">
                  <i class="fa fa-calendar" ng-click="open2()"></i>
                  <input type="text" placeholder="To" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt2" is-open="popup2.opened" ng-required="true"
                    close-text="Close" datepicker-options="dateOptions2" ng-change="change2()" alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                    on-open-focus="false" />-->
                </div>
              </form>
            </div>
            <div class="right-filters">
              <!--<div class="download-cvs" ng-click="downloadAsCSV()">
                Download as CVS
              </div>-->
            </div>
            <div class="clearfix"></div>
          

          <div class="main-tables-container">

            <!-- HEADER AND TOTALS -->
            <table class="header-table">
              <thead>
                <tr>
                  <th class="date">Date</th>
                  <th class="account">Account</th>
                  <th class="deposits">Deposits</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" class="deposits-total">TOTAL <!--(for time period selected)--></td>
                  <td class="deposits">
                    <span class="green-font">$</span> {{totalAmount | currency:""}}
                  </td>
                </tr>
              </tbody>
            </table>


            <table class="transactions-table deposits-table">
              <tbody>

                <tr ng-click="expandSection1 = !expandSection1" ng-class="expandSection1 ? 'user-row active' : 'user-row'" ng-repeat-start="charges in listChargesGrouped">
                  <td class="date">
                    <div class="month">{{(charges[0].created | date : 'MMM') | uppercase}}</div>
                    <div class="day">{{(charges[0].created | date : 'dd') | uppercase}}</div>
                  </td>
                  <td class="account">
                    {{bankName}}
                  </td>
                  <td class="deposits">
                    <span class="green-font">$</span> {{getSubtotal(charges) | currency:""}}
                  </td>
                </tr>

                <tr class="expandable" ng-repeat-end>
                  <td class="expand" colspan="3">
                    <div ng-class="expandSection1 ? 'expandable-section active' : 'expandable-section'">
                      <div class="expanded-section contains-table">

                        <div class="charges-container">
                          <table class="charges-table">
                            <thead>
                              <tr>
                                <th>Date</th>
                                <th>Person</th>
                                <th>Product</th>
                                <th>Paid</th>
                                <th>PaidUp Fee</th>
                                <th>Card Fee</th>
                                <th>Deposit</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="charge in charges">
                                <td class="date">
                                  <div class="month">{{(charge.created | date : 'MMM') | uppercase}}</div>
                                  <div class="day">{{(charge.created | date : 'dd') | uppercase}}</div>
                                </td>
                                <td class="organization">
                                  <div class="team-icon">
                                    <div class="fa fa-user"></div>
                                  </div>
                                  <div class="team">
                                    <div class="team-name">{{charge.metadata.beneficiaryInfo}}</div>
                                    <div class="team-contact">{{charge.metadata.buyerName}}</div>
                                    
                                  </div>
                                  <div class="clearfix"></div>
                                </td>
                                <td>
                                  {{charge.metadata.productName}}
                                </td>
                                <td>
                                  <span class="green-font">$</span> {{charge.amount / 100 | currency:""}}
                                </td>
                                <td>
                                  <span class="green-font">$</span> {{charge.metadata.feePaidUp | currency:""}}
                                </td>
                                <td>
                                  <span class="green-font">$</span> {{charge.metadata.feeStripe | currency:""}}
                                </td>
                                <td>
                                  <span class="green-font">$</span> {{(charge.amount / 100) - charge.metadata.totalFee | currency:""}}
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- <div class="bottom-link">Next 20</div>-->
        </div>
      </div>
    </div>
  </div>
</div>