<div class="summary-header">
  <div class="summary-header-container">
    <div class="row">
      <div class="col s12 m7 l8">
        <div class="user">
          <div class="valign-wrapper">
            <!-- <img src="../img/user-icon.png" alt=""> -->
            <i class="fa fa-user"></i>
            <span class="user-name">Hi, <span ng-bind="user.firstName"></span></span>
          </div>
        </div>
      </div>      
      <div class="col s12 m5 l4">
        <div class="action-buttons">
        <ul ng-if="false">
          <li ui-sref="dashboard.summary.components" ng-if="false">
            <i class="fa fa-dashboard"></i>
            <span>Summary</span>
          </li>
          <li ui-sref="dashboard.payment.findOrg">
            
          </li>
           <li ui-sref="dashboard.activities" ng-if="false">
            <i class="fa fa-line-chart"></i>
            <span>View Activity</span>
          </li>
        </ul>
        <ul ng-if="false">
          <li ui-sref="dashboard.board">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </li>
          <!--li ui-sref="dashboard.deposits">
            <i class="fa fa-bank"></i>
            <span>Deposits</span>
          </li>
           <li ui-sref="dashboard.aging">
            <i class="fa fa-line-chart"></i>
            <span>Aging</span>
            !isCoach
          </li-->
        </ul>
        <span ui-sref="dashboard.payment.findOrg" class="make-payment" ng-if="false">
          <div class="payment-button"><a class="button-blue-payment" href="">make a payment</a></div>       
        </span>
        </div>
      </div>
    </div>
  </div>
</div>