<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container" ng-init="init()">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">ORDERS</div>
          
          <div class="table-filters">
            <div class="date-filter">
              <form name="form" novalidate>
                <div class="date-input">
                  <i class="fa fa-calendar" ng-click="open1()"></i>
                  <input 
                  type="text" 
                  placeholder="From" 
                  uib-datepicker-popup="MM/dd/yyyy" 
                  ng-model="dt1" 
                  name="udt1"
                  is-open="popup1.opened" 
                  ng-required="true" 
                  close-text="Close"
                  datepicker-options="dateOptions1"
                  ng-change="change1()"
                  alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                  on-open-focus="false"              
                  />
                </div>
                <div class="date-input">
                  <i class="fa fa-calendar" ng-click="open2()"></i>
                  <input 
                  type="text" 
                  placeholder="To" 
                  uib-datepicker-popup="MM/dd/yyyy" 
                  ng-model="dt2" 
                  is-open="popup2.opened" 
                  ng-required="true" 
                  close-text="Close"
                  datepicker-options="dateOptions2"
                  ng-change="change2()"
                  alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                  on-open-focus="false" 
                  />
                </div>
                
              </form>
            </div>

            <div class="clearfix"></div>
          </div>

          <table ng-hide="loading" class="transactions-table striped even-rows-gray">
            
            <thead>
              <tr>
                <th>Date</th>
                <th>Organization</th>
                <th class="centered">Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>

              <tr ng-click="selectOrder(order)" ng-repeat-start="order in allOrders">
                <td class="date">
                  <div class="month">{{(order.createAt | date : 'MMM') | uppercase}}</div>
                  <div class="day">{{order.createAt | date: 'dd'}}</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>{{order.paymentsPlan[0].productInfo.productName | limitTo:2}}</div>
                  </div>
                  <div class="team">
                    <div class="team-name">{{order.paymentsPlan[0].productInfo.productName}}</div>
                    <div ng-if="order.paymentsPlan[0].beneficiaryInfo.beneficiaryName" class="team-contact">{{order.paymentsPlan[0].beneficiaryInfo.beneficiaryName}}</div>
                    <div class="team-contact" custom-fields-displayable custominfo="order.paymentsPlan[0].customInfo"></div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="{{(order.status === 'active' || order.status === 'complete') ? 'green-font' : 'red-font' }}">
                    <span>{{order.status}}</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  {{order.totalPrice | currency:""}}
                </td>
              </tr>

              <tr class="expandable" ng-repeat-end>
                <td class="expand" colspan="4">
                  <div ng-class="orderSelected._id === order._id ? 'expandable-section active' : 'expandable-section'">
                    <div class="expanded-section contains-table">

                      <div class="info-box order-id">
                        <span class="green-font">
                          Order Id:
                        </span>
                        <br>
                        <a href="" class="green-link">{{order.orderId}}</a>
                      </div>
                      
                      <div class="tables-separator"></div>

                      <div class="info-box order-id">
                        <span class="green-font">
                          Description:
                        </span>
                        <br>
                        <a href="" class="gray-font">{{order.description}}</a>
                      </div>
                      
                      <div class="tables-separator"></div>

                      <div class="charges-container">
                        <div class="green-font charges-title"><!--Pending--> Charges</div>
                        <div class="gray-font">Your account will be charged automatically on the dates presented.</div>
                        <div class="gray-font">Change the account to be charged in the drop down below (pending or failed payments only).</div>
                        
                        <table class="charges-table">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Details</th>
                              <th class="centered">Account</th>
                              <th class="centered">Status</th>
                              <th>Payed</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr ng-init="index = $index" ng-repeat="pp in order.paymentsPlan">                             
                              <td class="date">
                                <div class="month">{{(pp.dateCharge | date : 'MMM') | uppercase}}</div>
                                <div class="day">{{pp.dateCharge | date: 'dd'}}</div>
                              </td>
                              <td class="details">
                                {{pp.description}}
                              </td>
                              <td>
                                <div class="account" style="padding-left: 9px;" ng-show="pp.status !== 'pending' && pp.status !== 'failed'">{{pp.accountBrand}} X-{{pp.last4}}</div>
                                
                                <select class="select-account" ng-if="pp.status === 'pending' || pp.status === 'failed'"  required="true"
                                ng-change="updateAccount(order._id, pp, index)"  
                                ng-options="acc.last4 as acc.last4==='new' ? acc.brand : acc.brand + acc.bankName + ' X-'+ acc.last4 for acc in pp.accounts"
                                ng-model="pp.last4">
                                  <option value="">  </option>
                                </select>
                              </td>
                              <td class="retry-transaction">
                                <span>{{pp.status.startsWith('disable-') ? 'disabled' : pp.status}}</span>
                                <span ng-click="retryTransaction(order._id, pp, index)" ng-if="pp.status === 'failed'">

                                  <span class="label">Retry Transaction</span>
                                  <button class="icon" type="button">Retry</button>
                                  
                                </span>
                                <div ng-if="pp.status.startsWith('refunded-')" class="tooltip"><i class="fa fa-info" aria-hidden="true"></i>
                                  <span class="tooltiptext">{{ pp.refund | currency:"$"}}</span>
                                </div>
                                
                                
                              </td>
                              <td class="total">
                                <span class="green-font">$</span> 
                                {{(pp.refund ? pp.price + pp.refund : pp.price) | currency:""}}
                              </td>
                            </tr>
                          </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>                     
                </div>
              </td>                
            </tr>
            <tr>
              <td class="empty-section" colspan="4"></td>                
            </tr>
          
          </tbody>
        </table>
          <div ng-bind-html="loading ? loader : '' " /> 
        

        <!--<div class="bottom-link">Next 30</div>-->

      </div>
    </div>
  </div>
</div>
</div>