<div class="white-container">
  <div class="title-blue">Next Scheduled Payment</div>

  <p>The following amount will be charged automatically:</p>
  <div class="single-row-table">
    <div class="date">
      <div class="month">DEC</div>
      <div class="day">25</div>
    </div>
    <div class="team-icon">
      <div>AB</div>
    </div>
    <div class="team">
      <div class="team-name">Austin Boom</div>
      <div class="team-contact">Jerry Garcia</div>
    </div>
    <div class="total">
      <div class="amount">
        <span class="green-font">$</span> 
        264.75
      </div>
      <div class="method">
        Amex x-1234
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="bottom-link">Make a Change</div>

</div>  
