<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container" ng-init="init()">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">Dashboard</div>

          <!-- FILTERS -->
          <div class="table-filters">
            <div class="date-filter">
              <form name="form" novalidate>
                <!--<div class="date-input">
                  <i class="fa fa-calendar" ng-click="open1()"></i>
                  <input type="text" placeholder="From" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt1" name="udt1" is-open="popup1.opened"
                    ng-required="true" close-text="Close" datepicker-options="dateOptions1" ng-change="change1()" alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                    on-open-focus="false" />
                </div>
                <div class="date-input">
                  <i class="fa fa-calendar" ng-click="open2()"></i>
                  <input type="text" placeholder="To" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt2" is-open="popup2.opened" ng-required="true"
                    close-text="Close" datepicker-options="dateOptions2" ng-change="change2()" alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                    on-open-focus="false" />-->
                </div>
              </form>
            </div>
            <div class="right-filters">
              <div class="price-toggle">
                <div class="switch">
                  <label>
                    Base Price
                    <input type="checkbox"
                        ng-model="chkFilter">
                    <span class="lever"></span>
                    Price w/ Fees
                  </label>
                </div>
              </div>
              <!--<div class="download-cvs" ng-click="getCVS()">
                Download as CVS
              </div>-->
            </div>
            <div class="clearfix"></div>
          

          <div class="main-tables-container">

            <!-- HEADER AND TOTALS -->
            <table class="header-table">
              <thead>
                <tr>
                  <th class="date">Date</th>
                  <th class="user">User</th>
                  <th class="total">Total</th>
                  <th class="discount">Discount</th>
                  <th class="paid">Paid</th>
                  <th class="remaining">Remaining</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" class="name">TOTAL</td>
                  <td class="tot" ng-show="!chkFilter">
                    <span class="green-font">$</span> {{totalPrice | currency:""}}
                  </td>
                  <td class="tot" ng-show="chkFilter">
                    <span class="green-font">$</span> {{totalPriceFees | currency:""}}
                  </td>
                  <td class="discount" ng-show="!chkFilter">
                    <span class="green-font">$</span> {{totalDiscount | currency:""}}
                  </td>
                  <td class="discount" ng-show="chkFilter">
                    <span class="green-font">$</span> {{totalDiscountFees | currency:""}}
                  </td>
                  <!--<td class="paid" ng-show="!chkFilter">
                    <span class="green-font">$</span> {{totalPaid | currency:""}}
                  </td>-->
                  <td class="paid">
                    <span class="green-font">$</span> {{totalPaidFees | currency:""}}
                  </td>
                  <td class="remaining" ng-show="!chkFilter">
                    <span class="green-font">$</span> {{totalRemaining | currency:""}}
                  </td>
                  <td class="remaining" ng-show="chkFilter">
                    <span class="green-font">$</span> {{totalRemainingFees | currency:""}}
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- CATEGORY 1 -->
            <div ng-repeat="productInfo in groupProducts">
              <table class="header-table">
                <tbody>
                  <tr ng-click="expandCategory1 = !expandCategory1">
                    <td colspan="2" class="name"> {{productInfo[0].allProductName[0]}} {{productInfo.productName}}</td>
                    <td class="tot" ng-show="!chkFilter">
                      <span class="green-font">$</span> {{getSubTotal(productInfo) | currency:""}}
                    </td>
                    <td class="tot" ng-show="chkFilter">
                      <span class="green-font">$</span> {{getSubTotal(productInfo, 'sumPrice') | currency:""}}
                    </td>
                    <td class="discount" ng-show="!chkFilter">
                      <span class="green-font">$</span> {{getSubTotalDiscount(productInfo) | currency:""}}
                    </td>
                    <td class="discount" ng-show="chkFilter">
                      <span class="green-font">$</span> {{getSubTotalDiscount(productInfo, 'price') | currency:""}}
                    </td>
                    <!--<td class="paid" ng-show="!chkFilter">
                      <span class="green-font">$</span> {{getSubTotalPaid(productInfo) | currency:""}}
                    </td>-->
                    <td class="paid">
                      <span class="green-font">$</span> {{getSubTotalPaid(productInfo, 'price') | currency:""}}
                    </td>
                    <td class="remaining" ng-show="!chkFilter">
                      <span class="green-font">$</span> {{getSubTotalRemaining(productInfo) | currency:""}}
                    </td>
                    <td class="remaining" ng-show="chkFilter">
                      <span class="green-font">$</span> {{getSubTotalRemaining(productInfo, 'price') | currency:""}}
                    </td>
                  </tr>
                </tbody>
              </table>

              <div ng-class="expandCategory1 ? 'category-table active' : 'category-table'">
                <table class="transactions-table board-table">
                  <tbody>
                    <tr ng-click="expandSection11 = !expandSection11" ng-class="expandSection11 ? 'user-row active' : 'user-row'" ng-repeat-start="orders in productInfo">
                      <td class="date">
                        <div class="month">{{(orders.createAt | date : 'MMM') | uppercase}}</div>
                        <div class="day">{{orders.createAt | date: 'dd'}}</div>
                      </td>
                      <td class="organization">
                        <div class="team-icon">
                          <div>{{orders.allProductName[0] | limitTo:2}}</div>
                        </div>
                        <div class="team">
                          <div class="team-name">{{orders.paymentsPlan[0].userInfo.userName}}</div>
                          <div class="team-contact">{{getBeneficiaryInfo(orders.paymentsPlan[0].customInfo)}}</div>
                        </div>
                        <div class="clearfix"></div>
                      </td>

                      <td class="tot" ng-show="!chkFilter">
                        <span class="green-font">$</span> {{orders.sumbasePrice | currency:""}}
                      </td>
                      <td class="tot" ng-show="chkFilter">
                        <span class="green-font">$</span> {{orders.sumPrice | currency:""}}
                      </td>
                      <td class="discount" ng-show="!chkFilter">
                        <span class="green-font">$</span> {{getSubTotalDiscount([orders]) | currency:""}}
                      </td>
                      <td class="discount" ng-show="chkFilter">
                        <span class="green-font">$</span> {{getSubTotalDiscount([orders], 'price') | currency:""}}
                      </td>
                      <!--<td class="paid" ng-show="!chkFilter">
                        <span class="green-font">$</span> {{getSubTotalPaid([orders]) | currency:""}}
                      </td>-->
                      <td class="paid">
                        <span class="green-font">$</span> {{getSubTotalPaid([orders], 'price') | currency:""}}
                      </td>
                      <td class="remaining" ng-show="!chkFilter">
                        <span class="green-font">$</span> {{getSubTotalRemaining([orders]) | currency:""}}
                      </td>
                      <td class="remaining" ng-show="chkFilter">
                        <span class="green-font">$</span> {{getSubTotalRemaining([orders], 'price') | currency:""}}
                      </td>
                    </tr>
                    <tr class="expandable" ng-repeat-end>
                      <td class="expand" colspan="6">
                        <div ng-class="expandSection11 ? 'expandable-section active' : 'expandable-section'">
                          <div class="expanded-section contains-table">

                            <div class="inline-block">
                              <span class="green-font">
                              Order Id:
                            </span>
                              <br>
                              <span class="value">{{orders.orderId}}</span>
                            </div>
                            <div class="inline-block">
                              <span class="green-font">
                              Status:
                            </span>
                              <br>
                              <span class="value green-font">{{orders.status}}</span>
                            </div>


                            <div class="tables-separator"></div>

                            <div class="charges-container" ng-show="showPayments(orders.paymentsPlan, 'pending')">
                              <div class="green-font charges-title">Pending Charges</div>

                              <table class="charges-table">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Account</th>
                                    <th>Status</th>
                                    <th>Base Price</th>
                                    <th>Charged</th>
                                    <th>Deposit</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr ng-repeat="pp in orders.paymentsPlan | filter:getPaymentsPending">
                                    <td class="date">
                                      <div class="month">{{(pp.dateCharge | date : 'MMM') | uppercase}}</div>
                                      <div class="day">{{pp.dateCharge | date: 'dd'}}</div>
                                    </td>
                                    <td class="details">
                                      {{pp.description}}
                                    </td>
                                    <td class="account">
                                      <i class="fa fa-{{pp.brand ? ('cc-'+pp.brand | lowercase) : 'credit-card-alt'}}"></i>
                                      <a href="" class="green-link">x-{{pp.last4}}</a>
                                    </td>
                                    <td class="status">
                                      <span>pending</span>
                                    </td>
                                    <td>
                                      <span class="green-font">$</span> {{pp.basePrice | currency:""}}
                                    </td>
                                    <td>
                                      <span class="green-font">$</span> {{pp.price | currency:""}}
                                    </td>
                                    <td>
                                      <span class="green-font">$</span> {{(pp.price - pp.totalFee) | currency:""}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>

                            <div class="tables-separator"></div>

                            <div class="charges-container" ng-show="showPayments(orders.paymentsPlan, 'succeeded')">
                              <div class="green-font charges-title">Payment History</div>

                              <table class="charges-table">
                                <thead>
                                  <tr>
                                    <th>Date</th>
                                    <th>Details</th>
                                    <th>Account</th>
                                    <th>Status</th>
                                    <th>Base Price</th>
                                    <th>Charged</th>
                                    <th>Deposit</th>
                                  </tr>
                                </thead>
                                <tbody ng-repeat="pp in orders.paymentsPlan | filter:getPaymentsHistory">
                                  <tr ng-repeat="at in pp.attempts">
                                    <td class="date">
                                      <div class="month">{{(at.dateAttemp | date : 'MMM') | uppercase}}</div>
                                      <div class="day">{{at.dateAttemp | date: 'dd'}}</div>
                                    </td>
                                    <td class="details">
                                      {{pp.description}}
                                    </td>
                                    <td class="account">
                                      <i class="fa fa-{{pp.brand ? ('cc-'+pp.brand | lowercase) : 'credit-card-alt'}}"></i>
                                      <a href="" class="green-link">x-{{at.last4}}</a>
                                    </td>
                                    <td class="status">
                                      <span>{{at.status}}</span>
                                    </td>
                                    <td>
                                      <span class="green-font">$</span> {{pp.basePrice | currency:""}}
                                    </td>
                                    <td>
                                      <span class="green-font">$</span> {{pp.price | currency:""}}
                                    </td>
                                    <td>
                                      <span class="green-font">$</span> {{(pp.price - pp.totalFee) | currency:""}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--<div class="bottom-link">Next 20</div>-->
        </div>
      </div>
    </div>
  </div>
</div>