<div class="summary-header">
  <div class="summary-header-container">
    <div class="row">
      <div class="col s12 m7 l8">
        <div class="user">
          <div class="valign-wrapper">
            <!-- <img src="../img/user-icon.png" alt=""> -->
            <i class="fa fa-user"></i>
            <span class="user-name">Hi, <span ng-bind="user.firstName"></span></span>
          </div>
        </div>
      </div>      
      <div class="col s12 m5 l4">
        <div class="action-buttons">
        <ul ng-if="!isCoach">
          <li ui-sref="dashboard.summary.components" ng-if="false">
            <i class="fa fa-dashboard"></i>
            <span>Summary</span>
          </li>
          <li ui-sref="dashboard.payment.findOrg">
            <i class="fa fa-money"></i>
            <span>Make a Payment</span>
          </li>
           <li ui-sref="dashboard.activities" ng-if="false">
            <i class="fa fa-line-chart"></i>
            <span>View Activity</span>
          </li>
        </ul>
        <ul ng-if="isCoach">
          <li ui-sref="dashboard.board">
            <i class="fa fa-dashboard"></i>
            <span>Dashboard</span>
          </li>
          <li ui-sref="dashboard.deposits">
            <i class="fa fa-bank"></i>
            <span>Deposits</span>
          </li>
           <li ui-sref="dashboard.aging">
            <i class="fa fa-line-chart"></i>
            <span>Aging</span>
          </li>
        </ul>
        <!--   <div class="dashboard-button" ui-sref="dashboard.summary.components">
            <img src="../img/dashboard-icon.png" alt="">
          </div>
          <div class="payment-button" ui-sref="dashboard.payment.findOrg">      
            <img src="../img/payment-icon.png" alt="">
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>