<div class="white-container">
  <div class="title-blue">Accounts</div>
  <!-- No accounts START -->
  <div class="center">
    <img src="../img/credit-cards.png" alt="credit-cards">
  </div>
  <p><a href="" class="green-link">Add your debit / credit card</a> to your account so you're ready to make a payment.</p>
  <!-- No accounts END -->
  <!-- Accounts START -->
  <div ng-if="payments.length" name="divAccountsList" ng-model="user.routingNumber">
    <hr> 
    <p>Orders with remaining payments (Click to see payment schedule):</p>
    <ul class="accounts-list">
      <li class="clearfix" ng-repeat="pyment in payments">
        <div class="icon-container"><i class="fa fa-cc-{{pyment.brand | lowercase}}"></i></div>
        <div class="account-name">{{pyment.name}} <span class="card-number">x-{{pyment.last4}}</span></div>
      </li>
      <!--<li class="clearfix">
        <div class="icon-container"><i class="fa fa-cc-visa"></i></div>
        <div class="account-name">Bank of America Visa <span class="card-number">x-1234</span></div>
      </li>-->
    </ul>
    <div class="bottom-link" ng-click="updateAccounts()">Update</div>
  </div>
  <!-- Accounts END -->
</div>  
