<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="activities-container">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">Recent Transactions</div>
          
          <div class="date-filter">
            <div class="date-input">
              <i class="fa fa-calendar"></i>
              <input type="text" placeholder="From" />
            </div>
            <div class="date-input">
              <i class="fa fa-calendar"></i>
              <input type="text" placeholder="To" />
            </div>
          </div>
          <div class="clearfix"></div>

          <table class="transactions-table striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Organization</th>
                <th class="centered">Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="expandSection1 = !expandSection1">
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Austin Boom</div>
                    <div class="team-contact">Jerry Garcia</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                <div class="green-font">
                    <i class="fa fa-check"></i> <span>Success</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>
              <tr>
                <td class="expand" colspan="4">
                <div ng-class="expandSection1 ? 'expandable-section active' : 'expandable-section'">
                    <div class="row">
                      <div class="col s12 m6">
                        <div class="info-box">
                          <span class="green-font">
                            Paid With:
                          </span>
                          <br>
                          <span>Amex x-1234</span>
                          <br>
                          <span>You'll see "PaidUp Austin Boom" in your statement</span>
                        </div>
                        <div class="info-box">
                          <span class="green-font">
                            Transaction Id:
                          </span>
                          <br>
                          <span>ASDK232323DDDKK2</span>
                        </div>
                        <div class="info-box">
                          <span class="green-font">
                            Order Id:
                          </span>
                          <br>
                          <a href="" class="green-link">SFY2323SDSDSAD32</a>
                        </div>
                      </div>
                      <div class="col s12 m6"> 
                        <div class="info-box">
                          <span class="green-font">
                            Sent To:
                          </span>
                          <br>
                          <span>Austin Boom</span>
                          <br>
                          <span>Austin, TX</span>
                        </div>
                        <div class="info-box">
                          <span class="green-font">
                            Athelte First Name:
                          </span>
                          <span>Jonny</span>
                          <br>
                          <span class="green-font">
                            Athelte Last Name:
                          </span>
                          <span>Garcia</span>
                    
                        </div>
                        <div class="info-box">
                          <span class="green-font">
                            Details:
                          </span>
                          <br>
                          <span>Payment 3 of 4</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>                
              </tr>
              <tr>
                <td class="empty-section" colspan="4"></td>                
              </tr>
              <tr>
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Cobras Volleyball Club</div>
                    <div class="team-contact">Andy Thompson</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="red-font">
                    <i class="fa fa-times"></i> <span>Failed</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>
              <tr>
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Austin Boom</div>
                    <div class="team-contact">Jerry Garcia</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="green-font">
                    <i class="fa fa-sign-in fa-rotate-90"></i> <span>Reserved</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>
              <tr>
                <td class="date">
                  <div class="month">DEC</div>
                  <div class="day">25</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>AB</div>
                  </div>
                  <div class="team">
                    <div class="team-name">Austin Boom</div>
                    <div class="team-contact">Jerry Garcia</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="gray-font">
                    <i class="fa fa-check"></i> <span>Paid</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  998.75
                </td>
              </tr>

            </tbody>
          </table>

        </div>
      </div>
    </div>
  </div>
</div>
