<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="activities-container" ng-init="init()">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">Recent Transactions</div>
          
          
          <div class="table-filters">
            <div class="date-filter">
              <div class="date-input">
                <i class="fa fa-calendar"></i>
                <input type="text" placeholder="From" />
              </div>
              <div class="date-input">
                <i class="fa fa-calendar"></i>
                <input type="text" placeholder="To" />
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <table class="transactions-table striped">
            <thead>
              <tr>
                <th>Date</th>
                <th>Organization</th>
                <th class="centered">Status</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-click="expandSection1 = !expandSection1" ng-repeat-start="recentOrder in recentOrders">
                <td class="date">
                  <div class="month">{{(recentOrder.paymentsPlan.dateCharge | date : 'MMM') | uppercase}}</div>
                  <div class="day">{{recentOrder.paymentsPlan.dateCharge | date: 'dd'}}</div>
                </td>
                <td class="organization">
                  <div class="team-icon">
                    <div>{{recentOrder.paymentsPlan.productInfo.productName | limitTo:2}}</div>
                  </div>
                  <div class="team">
                    <div class="team-name">{{recentOrder.paymentsPlan.productInfo.productName}}</div>
                    <div class="team-contact">{{recentOrder.paymentsPlan.beneficiaryInfo.beneficiaryName}}</div>
                  </div>
                  <div class="clearfix"></div>
                </td>
                <td class="status">
                  <div class="{{recentOrder.paymentsPlan.status === 'succeeded' ? 'green-font' : 'red-font' }}">
                    <i class="{{recentOrder.paymentsPlan.status === 'succeeded' ? 'fa fa-check' : 'fa fa-times' }}"></i> <span>{{recentOrder.paymentsPlan.status}}</span>
                  </div>
                </td>
                <td class="total">
                  <span class="green-font">$</span> 
                  {{recentOrder.paymentsPlan.price | currency:""}}
                </td>
              </tr>
              <tr>
                <td class="empty-section" colspan="4"></td>                
              </tr>
              <tr ng-repeat-end>
                <td class="expand" colspan="4">
                  <div ng-class="expandSection1 ? 'expandable-section active' : 'expandable-section'">
                    <div class="expanded-section">
                      <div class="row">
                        <div class="col s12 m6">
                          <div class="info-box">
                            <span class="green-font">
                              Paid With:
                            </span>
                            <br>
                            <span>{{recentOrder.paymentsPlan.accountBrand}} x-{{recentOrder.paymentsPlan.last4}}</span>
                            <br>
                            <span>You'll see "PaidUp {{recentOrder.paymentsPlan.productInfo.productName}}" in your statement</span>
                          </div>
                          <div class="info-box">
                            <span class="green-font">
                              Transaction Id:
                            </span>
                            <br>
                            <span>{{recentOrder.paymentsPlan._id}}</span>
                          </div>
                          <div class="info-box">
                            <span class="green-font">
                              Order Id:
                            </span>
                            <br>
                            <a href="" class="green-link">{{recentOrder.orderId}}</a>
                          </div>
                        </div>
                        <div class="col s12 m6"> 
                          <div class="info-box">
                            <span class="green-font">
                              Sent To:
                            </span>
                            <br>
                            <span>{{recentOrder.paymentsPlan.productInfo.productName}}</span>
                            <br>
                            <span>{{recentOrder.paymentsPlan.productInfo.organizationLocation}}</span>
                          </div>
                          <div class="info-box">
                            <span class="green-font">
                              Athelte Name:
                            </span>
                            <!--<span>{{recentOrder.paymentsPlan.beneficiaryInfo.beneficiaryName}}</span>-->
                            <br>
                            <!--<span class="green-font">
                              Athelte Last Name:
                            </span>
                            <span>{{recentOrder.paymentsPlan.beneficiaryInfo.beneficiaryName}}</span>-->

                          </div>
                          <div class="info-box">
                            <span class="green-font">
                              Details:
                            </span>
                            <br>
                            <span>{{recentOrder.paymentsPlan.description}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>                
              </tr>
            </tbody>
          </table>
          
          <!--<div class="bottom-link">Next 30</div>-->

        </div>
      </div>
    </div>
  </div>
</div>
