<div class="white-container" ng-if="nextPayments.length">
  <div class="title-blue">Next Scheduled Payment</div>

  <p>The following amount will be charged automatically:</p>
  <div class="single-row-table" ng-repeat= "nextPayment in nextPayments">
    <div class="date">
      <div class="month">{{(nextPayment.paymentsPlan.dateCharge | date : 'MMM') | uppercase}}</div>
      <div class="day">{{ nextPayment.paymentsPlan.dateCharge | date: 'd'}}</div>
    </div>
    <div class="team-icon">
      <div>{{nextPayment.paymentsPlan.productInfo.productName | limitTo:2}}</div>
    </div>
    <div class="team">
      <div class="team-name">{{nextPayment.paymentsPlan.productInfo.productName}}</div>
      <div class="team-contact">{{nextPayment.paymentsPlan.beneficiaryInfo.beneficiaryName}}</div>
    </div>
    <div class="total">
      <div class="amount">
        <span class="green-font">$</span> 
        {{nextPayment.paymentsPlan.price}}
      </div>
      <div class="method">
        {{nextPayment.paymentsPlan.accountBrand}} x-{{nextPayment.paymentsPlan.last4}}
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="bottom-link">Make a Change</div>

</div>  
