<div ng-class="activeMobileMenu ? 'mobile-menu active hide-on-large-only' : 'mobile-menu hide-on-large-only'" ng-controller="MobileMenuCtrl">
  <div class="header">
    <div class="title">Menu</div>
    <div class="close" ng-click="hideMenu()"><i class="fa fa-times"></i></div>
    <div class="clearfix"></div>
  </div>  
  <ul class="mobile-list">
    <li class="clearfix" ui-sref="dashboard.summary.components" ng-click="hideMenu()" ng-if="!isCoach">
      <div class="icon-container"><i class="fa fa-dashboard"></i></div>
      <div>Summary</div> 
    </li> 
    <<li class="clearfix" ui-sref="dashboard.activities" ng-click="hideMenu()" ng-if="!isCoach">
      <div class="icon-container"><i class="fa fa-line-chart"></i></div>
      <div>Activity</div> 
    </li>
    <li class="clearfix" ui-sref="dashboard.orders" ng-click="hideMenu()" ng-if="!isCoach">
      <div class="icon-container"><i class="fa fa-list-alt"></i></div>
      <div>Orders</div> 
    </li>
   <li class="clearfix" ng-click="clickAccounts()">
      <div class="icon-container"><i class="fa fa-credit-card"></i></div>
      <div>Accounts</div>
    </li>
    <li class="clearfix" ng-if="isCoach" ng-click="hideMenu()" ui-sref="dashboard.board">
      <div class="icon-container"><i class="fa fa-dashboard"></i></div>
      <div>Dashboard</div>
    </li>
    <li class="clearfix" ng-if="isCoach" ng-click="hideMenu()" ui-sref="dashboard.deposits">
      <div class="icon-container"><i class="fa fa-bank"></i></div>
      <div>Deposits</div> 
    </li> 
    <li class="clearfix" ng-if="isCoach" ng-click="hideMenu()" ui-sref="dashboard.aging">
      <div class="icon-container"><i class="fa fa-line-chart"></i></div>
      <div>Aging</div> 
    </li>       
  </ul>
  <div class="new-line"></div>
  <ul class="mobile-list">
    <li class="clearfix" ui-sref="dashboard.profile" ng-click="hideMenu()">
      <div class="icon-container"><i class="fa fa-gear"></i></div>
      <div>Profile</div> 
    </li>
    <li class="clearfix" ng-click="logout()">
      <div class="icon-container"><i class="fa fa-sign-out"></i></div>
      <div>Logout</div> 
    </li>
  </ul>
</div>
