<div class="white-container">
  <div class="title-blue">Active Orders</div>

  <p>Change Card/Bank to be Charged by Selecting an Order Below</p>
  <div ng-repeat="activePayment in activePayments | limitTo:5">
    <a ui-sref="dashboard.order({orderId: activePayment.orderId})">
    <div class="single-row-table" >
      <div class="team-icon">
        <div>{{activePayment.allProductName[0] | limitTo:2 }}</div>
      </div>
      <div class="team">
        <div class="team-name">{{activePayment.allProductName[0]}}</div>
        <div ng-if="activePayment.paymentsPlan[0].beneficiaryInfo.beneficiaryName" class="team-contact">{{activePayment.paymentsPlan[0].beneficiaryInfo.beneficiaryName}}</div>
        <div class="team-contact" custom-fields-displayable custominfo="activePayment.paymentsPlan[0].customInfo"></div>
      </div>
    </div>
    </a>

    <br/>
  </div>

  <div class="clearfix"></div>
  <!--<div class="bottom-link">View All</div>-->
</div>  
