<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="profile-container">
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="main-content">
        <div class="white-container">
          <div class="title-blue">Profile</div> 
          <div class="profile-photo">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div href="" class="green-link">Upload Photo</div>
          </div>
          <div class="profile-name">
            <span>Diego Fortes</span>
            <div href="" class="green-link">Edit Name</div>
          </div> 
          <div class="clearfix"></div> 
          <hr>
          <div class="profile-photo">
            <div class="icon">
              <img src="img/team2.jpg" alt="photo" />
            </div>
            <div class="green-link">Change Photo</div>
          </div>
          <div class="profile-name">
            <span>With Pic</span>
            <div class="green-link">Edit Name</div>
          </div> 
          <div class="clearfix"></div>        
        </div>

        <div class="white-container">
          <div class="title-blue">Account Options</div>
          <ul class="account-options">
            <li>
              <i class="fa fa-chevron-circle-right hide-on-small-only"></i>
              <div class="green-link">Upgrade to Business Account (receive payments)</div>
            </li>
            <li>
              <i class="fa fa-chevron-circle-right hide-on-small-only"></i>
              <div class="green-link">Option 2</div>
            </li>
            <li>
              <i class="fa fa-chevron-circle-right hide-on-small-only"></i>
              <div class="green-link">Delete Account</div>
            </li>
          </ul>          
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 right-column">
      <div class="main-content">
        <div class="white-container">
          <div class="title-blue">Addresses</div>
          <ul class="account-addresses">
            <li>
              <div class="address">
                <span>123 Main St.</span>
                <br>
                <span>Austin, TX 78932</span>
              </div>
              <div class="action">
                <div class="green-link">Edit</div>
                <div class="green-link">Remove</div>
              </div>
            </li>
          </ul>           
        </div>

        <div class="white-container">
          <div class="title-blue">Email</div>          
        </div>

        <div class="white-container">
          <div class="title-blue">Phone</div>          
        </div>
      </div>
    </div>
  </div>
</div>