<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="profile-container">
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="main-content">
        <div class="white-container">
          <div class="title-blue">Profile</div> 
          <div class="profile-photo">
            <div class="icon">
              <i class="fa fa-user"></i>
            </div>
            <div href="" class="green-link">Upload Photo</div>
          </div>
          <div class="profile-name">
            <span ng-hide="editName">Diego Fortes</span>
            <div ng-hide="editName" ng-click="editName=true" class="green-link">Edit Name</div>
            <input ng-show="editName" type="text" placeholder="First Name">
            <input ng-show="editName" type="text" placeholder="Last Name">
            <button ng-show="editName" ng-click="loading=true" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Save'"></button>
            <button ng-show="editName" ng-click="editName=false" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Cancel'"></button>
          </div> 
          <div class="clearfix"></div> 
          <hr>
          <div class="profile-photo">
            <div class="icon">
              <img src="img/team2.jpg" alt="photo" />
            </div>
            <div class="green-link">Change Photo</div>
          </div>
          <div class="profile-name">
            <span>With Pic</span>
            <div class="green-link">Edit Name</div>
          </div> 
          <div class="clearfix"></div>        
        </div>

        <div class="white-container">
          <div class="title-blue">Account Options</div>
          <ul class="account-options">
            <li>
              <i class="fa fa-chevron-circle-right hide-on-small-only"></i>
              <div class="green-link">Upgrade to Business Account (receive payments)</div>
            </li>
            <li>
              <i class="fa fa-chevron-circle-right hide-on-small-only"></i>
              <div class="green-link">Option 2</div>
            </li>
            <li>
              <i class="fa fa-chevron-circle-right hide-on-small-only"></i>
              <div class="green-link">Delete Account</div>
            </li>
          </ul>          
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 right-column">
      <div class="main-content">
        <div class="white-container account-addresses">
          <div class="title-blue">Addresses</div>
          <ul>
            <li>
              <div class="address">
                <span>123 Main St.</span>
                <br>
                <span>Austin, TX 78932</span>
                <div>
                  <div class="green-link">Edit</div>
                  <div class="green-link">Remove</div>
                </div>
              </div>
            </li> 
            <li>
              <div class="address">
                <span>5423 Morchaster Av.</span>
                <br>
                <span>Springfield, NM 75555</span>
                <div>
                  <div class="green-link">Edit</div>
                  <div class="green-link">Remove</div>
                </div>
              </div>
            </li>
          </ul>           
          <div class="green-link">Add a New Address</div>
        </div>

        <div class="white-container account-email">
          <div class="title-blue">Email</div> 
          <div ng-hide="editEmail || editPass">
            <div>
              <p>Email used to Login and Receive Notifications</p>            
              <p class="field-value">qwer@qwe.com</p>        
            </div>
            <div>
              <div class="green-link" ng-click="editEmail=true">Edit</div>
              <div class="green-link" ng-click="editPass=true">Change Password</div>
            </div>         
          </div>         
          <div ng-show="editEmail">
            <input type="text" placeholder="Email">
            <button ng-click="loading=true" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Save'"></button>
            <button ng-click="editEmail=false" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Cancel'"></button>
          </div>
          <div ng-show="editPass">
            <input type="text" placeholder="Password">
            <input type="text" placeholder="Repeat Password">
            <button ng-click="loading=true" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Save'"></button>
            <button ng-click="editPass=false" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Cancel'"></button>
          </div>
        </div>

        <div class="white-container account-phone">
          <div class="title-blue">Phone</div>  
          <modal-window show="e1">
            DIEGO
          </modal-window>

          <modal-window show="e2">
            XXXX
          </modal-window>
          <div ng-hide="editPhone">
            <div>
              <p class="field-value">123-444-5555</p>
            </div>
            <div>
              <div class="green-link" ng-click="e1=true">Edit Phone</div>
            </div>
          </div>
          <div ng-show="editPhone">
            <input type="text" placeholder="Phone">
            <button ng-click="loading=true" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Save'"></button>
            <button ng-click="editPhone=false" class="button-green" ng-disabled="loading" ng-bind-html="loading ? loader : 'Cancel'"></button>
          </div>       
        </div>
      </div>
    </div>
  </div>
</div>