<div ng-include="'/templates/dashboard/dashboard.greetings.header.html'"></div>
<div class="orders-container" ng-init="init()">
  <div class="row">
    <div class="col s12 l8 offset-l2">
      <div class="main-content">
        <div class="white-container">

          <div class="title-blue">Aging</div>

          <!-- FILTERS -->
          <div class="table-filters">
            <div class="date-filter">
              <form name="form" novalidate>
                <!--<div class="date-input">
                  <i class="fa fa-calendar" ng-click="open1()"></i>
                  <input type="text" placeholder="From" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt1" name="udt1" is-open="popup1.opened"
                    ng-required="true" close-text="Close" datepicker-options="dateOptions1" ng-change="change1()" alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                    on-open-focus="false" />
                </div>
                <div class="date-input">
                  <i class="fa fa-calendar" ng-click="open2()"></i>
                  <input type="text" placeholder="To" uib-datepicker-popup="MM/dd/yyyy" ng-model="dt2" is-open="popup2.opened" ng-required="true"
                    close-text="Close" datepicker-options="dateOptions2" ng-change="change2()" alt-input-formats="['M!/d!/yyyy', 'M!/d!/yy']"
                    on-open-focus="false" />
                </div>-->
              </form>
            </div>
            <div class="right-filters">
              <!--<div class="download-cvs" ng-click="downloadAsCSV()">
                Download as CVS
              </div>-->
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="main-tables-container">

            <!-- HEADER AND TOTALS -->
            <table class="header-table">
              <thead>
                <tr>
                  <th class="date">Date</th>
                  <th class="user">User</th>
                  <th class="aging-value">1-30 Days Overdue</th>
                  <th class="aging-value">31-60 Days Overdue</th>
                  <th class="aging-value">61-90 Days Overdue</th>
                  <th class="aging-value">Over 90 Days Overdue</th>
                  <th class="aging-value">Total Overdue</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2" class="name">TOTAL <!--(for time period selected)--></td>
                  <td class="aging-value">
                    <span class="green-font">$</span> {{overDue0130 | currency:""}}
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> {{overDue3160 | currency:""}}
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> {{overDue6190 | currency:""}}
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> {{overDue9100 | currency:""}}
                  </td>
                  <td class="aging-value">
                    <span class="green-font">$</span> {{overDueTotal | currency:""}}
                  </td>

                </tr>
              </tbody>
            </table>

            <!-- CATEGORY 1 -->
            <div ng-repeat="orderOverDues in ordersOverDues">
              <table class="header-table">
                <tbody>
                  <tr ng-click="expandCategory1 = !expandCategory1">
                    <td colspan="2" class="name">{{orderOverDues[0].allProductName[0]}}</td>
                    <td class="aging-value">
                      <span class="green-font">$</span> {{getTotalDues(orderOverDues, 1, 0) | currency:""}}
                    </td>
                    <td class="aging-value">
                      <span class="green-font">$</span> {{getTotalDues(orderOverDues, 2, 1) | currency:""}}
                    </td>
                    <td class="aging-value">
                      <span class="green-font">$</span> {{getTotalDues(orderOverDues, 3, 2) | currency:""}}
                    </td>
                    <td class="aging-value">
                      <span class="green-font">$</span> {{getTotalDues(orderOverDues, 12, 3) | currency:""}}
                    </td>
                    <td class="aging-value">
                      <span class="green-font">$</span> {{getTotalDue(orderOverDues) | currency:""}}
                    </td>
                  </tr>
                </tbody>
              </table>

              <div ng-class="expandCategory1 ? 'category-table active' : 'category-table'">
                <table class="transactions-table aging-table">
                  <tbody>
                    <tr ng-click="expandSection11 = !expandSection11" ng-class="expandSection11 ? 'user-row active' : 'user-row'" ng-repeat="order in orderOverDues">
                      <td class="date">
                        <div class="month">{{(order.createAt | date : 'MMM') | uppercase}}</div>
                        <div class="day">{{order.createAt | date: 'dd'}}</div>
                      </td>
                      <td class="organization">
                        <div class="team-icon">
                          <div>{{order.allProductName[0] | limitTo:2}}</div>
                        </div>
                        <div class="team">
                          <div class="team-name">{{order.paymentsPlan[0].userInfo.userName}}</div>
                          <div class="team-contact">{{getBeneficiaryInfo(order.paymentsPlan[0].customInfo.formData)}}</div>
                        </div>
                        <div class="clearfix"></div>
                      </td>
                      <td class="aging-value">
                        <span class="green-font">$</span> {{getTotalDues([{paymentsPlan: order.paymentsPlan}], 1, 0) | currency:""}}
                      </td>
                      <td class="aging-value">
                        <span class="green-font">$</span> {{getTotalDues([{paymentsPlan: order.paymentsPlan}], 2, 1) | currency:""}}
                      </td>
                      <td class="aging-value">
                        <span class="green-font">$</span> {{getTotalDues([{paymentsPlan: order.paymentsPlan}], 3, 2) | currency:""}}
                      </td>
                      <td class="aging-value">
                        <span class="green-font">$</span> {{getTotalDues([{paymentsPlan: order.paymentsPlan}], 12, 3) | currency:""}}
                      </td>
                      <td class="aging-value">
                        <span class="green-font">$</span> {{getTotalDue([{paymentsPlan: order.paymentsPlan}]) | currency:""}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--<div class="bottom-link">Next 20</div>-->
        </div>
      </div>
    </div>
  </div>
</div>