<div class="white-container" ng-if="isVisible">
  <div class="title-blue">Recent Transactions</div>
  <!-- No transactions StART -->
  <p>This is where your most recent transaction will show up once you have made the first payment.</p>
  <p>Want to see some transactions? <a href="" ui-sref="dashboard.payment.findOrg" class="green-link">Make a payment.</a></p>
  <!-- No transactions END -->
  <hr>
  <!-- Transactions START -->
  <table class="transactions-table striped">
    <tbody>
      <tr ng-repeat="order in orders">
        <td class="date">
          <div class="month">{{(order.paymentsPlan.dateCharge | date : 'MMM') | uppercase}}</div>
          <div class="day">{{ order.paymentsPlan.dateCharge | date: 'dd'}}</div>
        </td>
        <td class="organization">
          <div class="team-icon">
            <div>{{order.paymentsPlan.productInfo.productName | limitTo:2}}</div>
          </div>
          <div class="team">
            <div class="team-name">{{order.paymentsPlan.productInfo.productName}}</div>
            <div class="team-contact">{{order.paymentsPlan.beneficiaryInfo.beneficiaryName}}</div>
          </div>
          <div class="clearfix"></div>
        </td>
        <td class="total">
          <span class="green-font">- $</span> 
          {{order.paymentsPlan.price | currency:""}}
        </td>
      </tr> 
    </tbody>
  </table>
  <!-- Transactions END -->
</div> 
